<footer class="footer">
			<a href="#" >
				<span class="footer__logo">
					ООО "Глосав". Все права защищены
				</span>
			</a>
			<div class="footer__contact">
				<a href="#" class="footer__adress">
					<span class="footer__icon">
						{{mixins.icon('map')}}
					</span>
						Москва, Кожевнический проезд, д.1
				</a>
				<a href="#" class="footer__adress">
					<span class="footer__icon">
						{{mixins.icon('mail')}}
					</span>
						commerce@glosav.ru
				</a>
				<a href="#" class="footer__adress">
					<span class="footer__icon">
						{{mixins.icon('phone')}}
					</span>
						+7 (495) 644 33 59
				</a>
			</div>
		</footer>