<header class="header">
	<div class="header__logo">
		<a href="#" class="header__logo__link">
			<img src="img/glosav-logo.png" alt="">
		</a>
	</div>
	<div class="header__navigation">
		<div class="header__client">
			<div id="header__search" class="header__search">
				<form action="">
					<input class="search__input"
							placeholder="Search..."
							type="search" 
							value="" 
							name="" 
							id="search_input">
					<span class="search__icon" id="search">
						{{mixins.icon('search')}}
					</span>
				</form>
				<div id="over_white"></div>	
			</div>
			<input class="header__login" id="open" type="submit" value="Войти">
			<div id="modal__form">
				<span id="modal__close">
					{{mixins.icon('close')}}
				</span>
				<form 
					class="form__box"
					method="POST"
					action="index.php"
					onchange="return Validate()">
					<h2 class="modal__title">
						Вход в web-систему
					</h2>
					<div class="info" id="name_div">
						<input 
							type="text" 
							class="name" 
							name="phone" 
							required="" 
							placeholder="Имя">
						<span id="name_error"></span>
					</div>
					<div class="info" id="email_div">
						<input 
							type="text" 
							class="email" 
							name="email" 
							required="" 
							placeholder="Почта">
						<span id="email_error"></span>
					</div>
					<div class="info" id="password_div">
						<input 
							type="password" 
							class="password" 
							name="password" 
							required="" 
							placeholder="Пароль">
						<span id="password_error"></span>
					</div>
					<div class="form__buttons">
						<input class="button-login" type="submit" name="" value="Войти">
					</div>
				</form>
			</div>
			<div id="overlay"></div>	
			<div class="header__length" name="" id="">
				<ul>
					<li><a href="#">Ru</a></li>
					<li><a href="#">Ua</a></li>
					<li><a href="#">En</a></li>
				</ul>	
			</div>
		</div>
		<ul class="header__menu">
			<li class="header__menu__item">
				<a href="#" class="header__menu__link">
					о компании
				</a>
			</li>
			<li class="header__menu__item">
				<a href="#" class="header__menu__link">
					напрвления
				</a>
			</li>
			<li class="header__menu__item">
				<a href="#" class="header__menu__link">
					продукты
				</a>
			</li>
			<li class="header__menu__item">
				<a href="#" class="header__menu__link">
					новости
				</a>
			</li>
			<li class="header__menu__item">
				<a href="#" class="header__menu__link">
					контакты
				</a>
			</li>
		</ul>
	</div>
	<!-- Start adaptive menu -->

	<button class="toggle-menu">
        <span class="toggle"></span>
        <span class="toggle"></span>
        <span class="toggle"></span>
	</button>

	<!-- End adaptive menu -->
</header>