<!-- Start slider -->
<div class="main__slider__center">
	<!-- Start slider video -->
	<div class="slider__video__wrap">
		<div class="slider__video">
			<iframe width="1280" height="400" src="https://www.youtube.com/embed/PR9zS-O0teM?autohide=1rel=0" frameborder="0" allowfullscreen></iframe>
			<div class="slider__video__close">
				{{mixins.icon('icon-close')}}
			</div>
			<div class="bg"></div>
		</div>
	</div>
	<!-- Start slider video -->
	<!-- Start slider video button-->
	<div class="slider__button">
		<div class="slider__button__left">
			<span class="button__inform">
				Потяните
			</span>
			<div class="button__block1"></div>
		</div>
		<div class="button__hr"></div>
		<div class="slider__button__right">
			<div class="button__block2"></div>
			<span class="button__inform">
				для просмотра
			</span>
		</div>
	</div>
<!-- End slider video button-->
<!-- Start popup slider click -->
	<div class="slider__popup__click popup-click-system">
		<div class="slider__popup__content">
			<div class="slider__popup__close">
				{{mixins.icon('icon-close')}}
			</div>
			<div class="slider__block__leftup">
				<div class="slider__border__leftup">
					<img src="img/Layer21.png" alt="left-up">
				</div>
				<a href="#" class="title__image">
					поставка
				</a>
			</div>
			<div class="slider__block__leftcenter">
				<div class="slider__border__leftcenter">
					<img src="img/layer22.png" alt="leftcenter">
				</div>
				<a href="#" class="title__image">
					монтаж
				</a>
			</div>
			<div class="slider__block__leftbottom">
				<div class="slider__border__leftbottom">
					<img src="img/Layer23.png" alt="left-bottom">
				</div>
				<a href="#" class="title__image">
					пусконаладка
				</a>
			</div>
			<div class="slider__block__righttop">
				<div class="slider__border__righttop">
					<img src="img/layer21copy.png" alt="right-top">
				</div>
				<a href="#" class="title__image">
					поставка
				</a>
			</div>
			<div class="slider__block__rightcenter">
				<div class="slider__border__rightcenter">
					<img src="img/layer22copy.png" alt="right-center">
				</div>
				<a href="#" class="title__image">
					монтаж
				</a>
			</div>
			<div class="slider__block__rightbottom">
				<div class="slider__border__rightbottom">
					<img src="img/layer23copy.png" alt="rightbottom">
				</div>
				<a href="#" class="title__image">
					пусконаладка
				</a>
			</div>
			<div class="slider__border__image">
				<img src="img/vector-object400.png" alt="border">
			</div>
			<div class="backgr__image">
				<span>
					Система для компаний,
					занимающихся дистрибуцией.<br>
					Может быть использована
					как для<br>оснащения
					транспортных средств,<br>
					так и для оснащения персонала. В<br>
					зависимости от специфики компании<br>
					выбирается наиболее рациональный<br>
					комплект оборудования, который<br>
					может включать: бортовой блок,<br>
					смартфон, персональный трекер.
				</span>
				<button class="button__more__info" type="button">
					Подробнее
				</button>
			</div>
		</div>
	</div>
<!-- End popup slider click -->
<!-- Start popup slider click -->
	<div class="slider__popup__click popup-click-develop">
		<div class="slider__popup__content">
			<div class="slider__popup__close">
				{{mixins.icon('icon-close')}}
			</div>
			<div class="slider__block__leftup">
				<div class="slider__border__leftup">
					<img src="img/Layer21.png" alt="left-up">
				</div>
				<a href="#" class="title__image">
					поставка
				</a>
			</div>
			<div class="slider__block__leftcenter">
				<div class="slider__border__leftcenter">
					<img src="img/layer22.png" alt="leftcenter">
				</div>
				<a href="#" class="title__image">
					монтаж
				</a>
			</div>
			<div class="slider__block__leftbottom">
				<div class="slider__border__leftbottom">
					<img src="img/Layer23.png" alt="left-bottom">
				</div>
				<a href="#" class="title__image">
					пусконаладка
				</a>
			</div>
			<div class="slider__block__righttop">
				<div class="slider__border__righttop">
					<img src="img/layer21copy.png" alt="right-top">
				</div>
				<a href="#" class="title__image">
					поставка
				</a>
			</div>
			<div class="slider__block__rightcenter">
				<div class="slider__border__rightcenter">
					<img src="img/layer22copy.png" alt="right-center">
				</div>
				<a href="#" class="title__image">
					монтаж
				</a>
			</div>
			<div class="slider__block__rightbottom">
				<div class="slider__border__rightbottom">
					<img src="img/layer23copy.png" alt="rightbottom">
				</div>
				<a href="#" class="title__image">
					пусконаладка
				</a>
			</div>
			<div class="slider__border__image">
				<img src="img/vector-object400.png" alt="border">
			</div>
			<div class="backgr__image">
				<span>
					Система для компаний,
					занимающихся дистрибуцией.<br>
					Может быть использована
					как для<br>оснащения
					транспортных средств,<br>
					так и для оснащения персонала. В<br>
					зависимости от специфики компании<br>
					выбирается наиболее рациональный<br>
					комплект оборудования, который<br>
					может включать: бортовой блок,<br>
					смартфон, персональный трекер.
				</span>
				<button class="button__more__info" type="button">
					Подробнее
				</button>
			</div>
		</div>
	</div>
<!-- End popup slider click -->
<!-- Start popup slider click -->
	<div class="slider__popup__click popup-click-transport">
		<div class="slider__popup__content">
			<div class="slider__popup__close">
				{{mixins.icon('icon-close')}} 
			</div>
			<div class="slider__block__leftup">
				<div class="slider__border__leftup">
					<img src="img/Layer21.png" alt="left-up">
				</div>
				<a href="#" class="title__image">
					поставка
				</a>
			</div>
			<div class="slider__block__leftcenter">
				<div class="slider__border__leftcenter">
					<img src="img/layer22.png" alt="leftcenter">
				</div>
				<a href="#" class="title__image">
					монтаж
				</a>
			</div>
			<div class="slider__block__leftbottom">
				<div class="slider__border__leftbottom">
					<img src="img/Layer23.png" alt="left-bottom">
				</div>
				<a href="#" class="title__image">
					пусконаладка
				</a>
			</div>
			<div class="slider__block__righttop">
				<div class="slider__border__righttop">
					<img src="img/layer21copy.png" alt="right-top">
				</div>
				<a href="#" class="title__image">
					поставка
				</a>
			</div>
			<div class="slider__block__rightcenter">
				<div class="slider__border__rightcenter">
					<img src="img/layer22copy.png" alt="right-center">
				</div>
				<a href="#" class="title__image">
					монтаж
				</a>
			</div>
			<div class="slider__block__rightbottom">
				<div class="slider__border__rightbottom">
					<img src="img/layer23copy.png" alt="rightbottom">
				</div>
				<a href="#" class="title__image">
					пусконаладка
				</a>
			</div>
			<div class="slider__border__image">
				<img src="img/vector-object400.png" alt="border">
			</div>
			<div class="backgr__image">
				<span>
					Система для компаний,
					занимающихся дистрибуцией.<br>
					Может быть использована
					как для<br>оснащения
					транспортных средств,<br>
					так и для оснащения персонала. В<br>
					зависимости от специфики компании<br>
					выбирается наиболее рациональный<br>
					комплект оборудования, который<br>
					может включать: бортовой блок,<br>
					смартфон, персональный трекер.
				</span>
				<button class="button__more__info" type="button">
					Подробнее
				</button>
			</div>
		</div>
	</div>
<!-- End popup slider click -->
<!-- Start popup slider click  transport-->
	<div class="slider__popup__click popup-click-satellite">
		<div class="slider__popup__content">
			<div class="slider__popup__close">
				{{mixins.icon('icon-close')}} 
			</div>
			<div class="slider__block__leftup">
				<div class="slider__border__leftup">
					<img src="img/Layer21.png" alt="left-up">
				</div>
				<a href="#" class="title__image">
					поставка
				</a>
			</div>
			<div class="slider__block__leftcenter">
				<div class="slider__border__leftcenter">
					<img src="img/layer22.png" alt="leftcenter">
				</div>
				<a href="#" class="title__image">
					монтаж
				</a>
			</div>
			<div class="slider__block__leftbottom">
				<div class="slider__border__leftbottom">
					<img src="img/Layer23.png" alt="left-bottom">
				</div>
				<a href="#" class="title__image">
					пусконаладка
				</a>
			</div>
			<div class="slider__block__righttop">
				<div class="slider__border__righttop">
					<img src="img/layer21copy.png" alt="right-top">
				</div>
				<a href="#" class="title__image">
					поставка
				</a>
			</div>
			<div class="slider__block__rightcenter">
				<div class="slider__border__rightcenter">
					<img src="img/layer22copy.png" alt="right-center">
				</div>
				<a href="#" class="title__image">
					монтаж
				</a>
			</div>
			<div class="slider__block__rightbottom">
				<div class="slider__border__rightbottom">
					<img src="img/layer23copy.png" alt="rightbottom">
				</div>
				<a href="#" class="title__image">
					пусконаладка
				</a>
			</div>
			<div class="slider__border__image">
				<img src="img/vector-object400.png" alt="border">
			</div>
			<div class="backgr__image">
				<span>
					Система для компаний,
					занимающихся дистрибуцией.<br>
					Может быть использована
					как для<br>оснащения
					транспортных средств,<br>
					так и для оснащения персонала. В<br>
					зависимости от специфики компании<br>
					выбирается наиболее рациональный<br>
					комплект оборудования, который<br>
					может включать: бортовой блок,<br>
					смартфон, персональный трекер.
				</span>
				<button class="button__more__info" type="button">
					Подробнее
				</button>
			</div>
		</div>
	</div>
<!-- End popup slider click -->
<!-- Start popup slider click -->
	<div class="slider__popup__click popup-click-technology">
		<div class="slider__popup__content">
			<div class="slider__popup__close">
				{{mixins.icon('icon-close')}} 
			</div>
			<div class="slider__block__leftup">
				<div class="slider__border__leftup">
					<img src="img/Layer21.png" alt="left-up">
				</div>
				<a href="#" class="title__image">
					поставка
				</a>
			</div>
			<div class="slider__block__leftcenter">
				<div class="slider__border__leftcenter">
					<img src="img/layer22.png" alt="leftcenter">
				</div>
				<a href="#" class="title__image">
					монтаж
				</a>
			</div>
			<div class="slider__block__leftbottom">
				<div class="slider__border__leftbottom">
					<img src="img/Layer23.png" alt="left-bottom">
				</div>
				<a href="#" class="title__image">
					пусконаладка
				</a>
			</div>
			<div class="slider__block__righttop">
				<div class="slider__border__righttop">
					<img src="img/layer21copy.png" alt="right-top">
				</div>
				<a href="#" class="title__image">
					поставка
				</a>
			</div>
			<div class="slider__block__rightcenter">
				<div class="slider__border__rightcenter">
					<img src="img/layer22copy.png" alt="right-center">
				</div>
				<a href="#" class="title__image">
					монтаж
				</a>
			</div>
			<div class="slider__block__rightbottom">
				<div class="slider__border__rightbottom">
					<img src="img/layer23copy.png" alt="rightbottom">
				</div>
				<a href="#" class="title__image">
					пусконаладка
				</a>
			</div>
			<div class="slider__border__image">
				<img src="img/vector-object400.png" alt="border">
			</div>
			<div class="backgr__image">
				<span>
					Система для компаний,
					занимающихся дистрибуцией.<br>
					Может быть использована
					как для<br>оснащения
					транспортных средств,<br>
					так и для оснащения персонала. В<br>
					зависимости от специфики компании<br>
					выбирается наиболее рациональный<br>
					комплект оборудования, который<br>
					может включать: бортовой блок,<br>
					смартфон, персональный трекер.
				</span>
				<button class="button__more__info" type="button">
					Подробнее
				</button>
			</div>
		</div>
	</div>
<!-- End popup slider click -->
<!-- Start popup slider click -->
	<div class="slider__popup__click popup-click-tourism">
		<div class="slider__popup__content">
			<div class="slider__popup__close">
				{{mixins.icon('icon-close')}} 
			</div>
			<div class="slider__block__leftup">
				<div class="slider__border__leftup">
					<img src="img/Layer21.png" alt="left-up">
				</div>
				<a href="#" class="title__image">
					поставка
				</a>
			</div>
			<div class="slider__block__leftcenter">
				<div class="slider__border__leftcenter">
					<img src="img/layer22.png" alt="leftcenter">
				</div>
				<a href="#" class="title__image">
					монтаж
				</a>
			</div>
			<div class="slider__block__leftbottom">
				<div class="slider__border__leftbottom">
					<img src="img/Layer23.png" alt="left-bottom">
				</div>
				<a href="#" class="title__image">
					пусконаладка
				</a>
			</div>
			<div class="slider__block__righttop">
				<div class="slider__border__righttop">
					<img src="img/layer21copy.png" alt="right-top">
				</div>
				<a href="#" class="title__image">
					поставка
				</a>
			</div>
			<div class="slider__block__rightcenter">
				<div class="slider__border__rightcenter">
					<img src="img/layer22copy.png" alt="right-center">
				</div>
				<a href="#" class="title__image">
					монтаж
				</a>
			</div>
			<div class="slider__block__rightbottom">
				<div class="slider__border__rightbottom">
					<img src="img/layer23copy.png" alt="rightbottom">
				</div>
				<a href="#" class="title__image">
					пусконаладка
				</a>
			</div>
			<div class="slider__border__image">
				<img src="img/vector-object400.png" alt="border">
			</div>
			<div class="backgr__image">
				<span>
					Система для компаний,
					занимающихся дистрибуцией.<br>
					Может быть использована
					как для<br>оснащения
					транспортных средств,<br>
					так и для оснащения персонала. В<br>
					зависимости от специфики компании<br>
					выбирается наиболее рациональный<br>
					комплект оборудования, который<br>
					может включать: бортовой блок,<br>
					смартфон, персональный трекер.
				</span>
				<button class="button__more__info" type="button">
					Подробнее
				</button>
			</div>
		</div>
	</div>
<!-- End popup slider click -->
	<div class="main__slider js-slider">
		<div class="slide">
			<div class="slide__bg system-integr">
				<div class="slide__link">
					<img src="img/gettyImages.png" alt="">
				</div>
				<span class="slide__direction">
					системная интеграция
				</span>
			</div>
		</div>
		<div class="slide">
			<div class="slide__bg develop-programm">
				<div class="slide__link">
					<img src="img/html.png" alt="">
				</div>
				<span class="slide__direction">
					розработка по
				</span>
			</div>
		</div>
		<div class="slide">
			<div class="slide__bg transport">
				<div class="slide__link">
					<img src="img/gettyImages.png" alt="">
				</div>
				<span class="slide__direction">
					мониторинг транспорта
				</span>
			</div>
		</div>
		<div class="slide">
			<div class="slide__bg satellite">
				<div class="slide__link">
					<img src="img/html.png" alt="">
				</div>
				<span class="slide__direction">
					спутник
				</span>
			</div>
		</div>
		<div class="slide">
			<div class="slide__bg technology">
				<div class="slide__link">
					<img src="img/gettyImages.png" alt="">
				</div>
				<span class="slide__direction">
					технология
				</span>
			</div>
		</div>
		<div class="slide">
			<div class="slide__bg tourism">
				<div class="slide__link">
					<img src="img/html.png" alt="">
				</div>
				<span class="slide__direction">
					туризм
				</span>
			</div>
		</div>
	</div>
</div>
<!-- End slider -->