---
title: contact
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	<div class="header__color__bg">
    <!-- Start header -->
    {% include "partials/_header.html" %}
    <!-- End header -->
  </div>
	<section class="contact">
		<div class="contact__container">
			<div class="contact__title">
				<h5>
					Контакты
				</h5>
				<div class="contact__title__step">
					<a href="#" class="home">
						Главная
					</a>
					<span class="dots"></span>
					<span class="contacts">
						Контакты
					</span>
				</div>
        <div class="contact__toggle__btn">
          <button class="contact__toggle" type="button">
            <span class="toggle-dots"></span>
            <span class="toggle-dots"></span>
            <span class="toggle-dots"></span>
          </button>
        </div>
				<div class="contact__adress">
					<div class="contact__adress__map">
						<h3>
							Адрес:
						</h3>
						<a href="#">
							115114, Московская облясть, г. Москва,
							Кожевнический проезд, д. 1
						</a>
						<a href="#" class="font__color border">
							Схема проезда
						</a>
					</div>
					<div class="contact__adress__phone">
						<h3>
							Многоканальный:
						</h3>
						<a href="tel:+74956443359" class="font__color">
							+7(495) 644 33 59
						</a>
					</div>
				</div>
			</div>
			<div class="contact__marketing">
				<h2>
					Отдел маркетинга и PR
				</h2>
				<div class="contact__pos">
					<div class="contact__marketig__phone marg_top">
						<h3>
							Телефоны:
						</h3>
						<span>
							<a href="tel:+74956443359" class="font__color">
								+7 (495) 644 33 59;
							</a>
							<br>
							<a href="tel:+78002003359" class="font__color">
								+7 (800) 200 33 59, доб. 2
							</a>
						</span>
					</div>
					<div class="contact__marketig__mail marg_top">
						<h3>
							E-mail:
						</h3>
						<a href="#" class="font__color border">
							commerce@glosav.ru
						</a>
					</div>
					<div class="contact__marketig__schedule marg_top">
						<h3>
							График работы
						</h3>
						<span class="font__color">
							Пн-Пт: с 10:00 до 19:00
						</span>
					</div>
				</div>
			</div>
			<div class="contact__esources">
				<h2>
					Отдел кадров
				</h2>
				<div class="contact__pos">
					<div class="contact__esources__phone marg_top">
						<h3>
							Телефоны:
						</h3>
						<a href="tel:+78002003359" class="font__color">
							+7 (800) 200 33 59, доб. 2
						</a>
					</div>
					<div class="contact__esources__mail marg_top">
						<h3>
							E-mail:
						</h3>
						<a href="#" class="font__color border">
							commerce@glosav.ru
						</a>
					</div>
					<div class="contact__esource__schedule marg_top">
						<h3>
							График работы:
						</h3>
						<span class="font__color">
							Пн-Пт: с 10:00 до 19:00
						</span>
					</div>
				</div>
			</div>
			<div class="contact__sales">
				<h2>
					Отдел продаж
				</h2>
				<div class="contact__pos">
					<div class="contact__sales__phone marg_top">
						<h3>
							Телефоны:
						</h3>
						<a href="tel:+74956443359" class="font__color">
							+7 (495) 644 33 59;
						</a>
						<br>
						<a href="tel:+78002003359" class="font__color">
							+7 (800) 200 33 59, доб. 2;
						</a>
						<br>
						<a href="tel:+74956443359" class="font__color">
							+7 (495) 644 33 59;
						</a>
					</div>
					<div class="contact__sales__mail marg_top">
						<h3>
							E-mail:
						</h3>
						<a href="#" class="font__color border">
							commerce@glosav.ru
						</a>
						<br>
						<a href="#" class="font__color border">
							commerce_info@glosav.ru
						</a>
					</div>
					<div class="contact__sales__schadule marg_top">
						<h3>
							График работы
						</h3>
						<span class="font__color">
							Пн-Пт: с 10:00 до 19:00
						</span>
					</div>
				</div>
			</div>
			<div class="contact__support">
				<h2>
					Техническая поддержка
				</h2>
				<div class="contact__pos">
					<div class="contact__support__phone marg_top">
						<h3>
							Телефоны:
						</h3>
						<a href="tel:+78002003359" class="font__color">
							+7 (800) 200 33 59, доб. 2
						</a>
					</div>
					<div class="contact__support__mail marg_top">
						<h3>
							E-mail:
						</h3>
						<a href="#" class="font__color border">
							support@glosav.ru
						</a>
					</div>
					<div class="contact__support__schadule marg_top">
						<h3>
							График работы
						</h3>
						<span class="font__color">
							Пн-Пт: с 10:00 до 19:00
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="contact__map" id="map">
			
		</div>
	</section>
	<!-- Start footer -->
	{% include "partials/_footer.html"%}
	<!-- End footer -->
	    <script>
      function initMap()
      {
        // Create a map object and specify the DOM element for display.
        var map = new google.maps.Map(document.getElementById('map'),
        {
          center:
          {
            lat: 55.72781503,
            lng: 37.64749749
          },
          zoom: 16,
          styles: [
          {
            "featureType": "water",
            "elementType": "labels.text.fill",
            "stylers": [
            {
              "color": "#ffffff"
            }]
          },
          {
            "featureType": "water",
            "elementType": "geometry.fill",
            "stylers": [
            {
              "color": "#2e5b72"
            }]
          },
          {
            "featureType": "transit",
            "stylers": [
            {
              "color": "#808080"
            },
            {
              "visibility": "off"
            }]
          },
          {
            "featureType": "road.highway",
            "elementType": "geometry.stroke",
            "stylers": [
            {
              "visibility": "on"
            },
            {
              "color": "#2e5b72"
            },
            {
              "weight": 0.1
            }]
          },
          {
            "featureType": "road.highway",
            "elementType": "geometry.fill",
            "stylers": [
            {
              "color": "#2e5b72"
            },
            {
              "weight": 0.1
            }]
          },
          {
            "featureType": "road.local",
            "elementType": "geometry.fill",
            "stylers": [
            {
              "visibility": "on"
            },
            {
              "color": "#2e5b72"
            },
            {
              "weight": 0.1
            }]
          },
          {
            "featureType": "road.local",
            "elementType": "geometry.stroke",
            "stylers": [
            {
              "color": "#2e5b72"
            },
            {
              "weight": 0.2
            }]
          },
          {
            "featureType": "poi",
            "elementType": "geometry.fill",
            "stylers": [
            {
              "visibility": "on"
            },
            {
              "color": "#2e5b72"
            }]
          },
          {
            "featureType": "administrative",
            "elementType": "geometry",
            "stylers": [
            {
              "color": "#2e5b72"
            }]
          },
          {
            "featureType": "road.arterial",
            "elementType": "geometry.fill",
            "stylers": [
            {
              "color": "#2e5b72"
            },
            {
              "weight": 0.1
            }]
          },
          {
            "featureType": "road.arterial",
            "elementType": "geometry.fill",
            "stylers": [
            {
              "color": "#2e5b72"
            }]
          },
          {
            "featureType": "landscape",
            "elementType": "geometry.fill",
            "stylers": [
            {
              "visibility": "on"
            },
            {
              "color": "#efefef"
            }]
          },
          {
            "featureType": "road",
            "elementType": "labels.text.fill",
            "stylers": [
            {
              "color": "#2e5b72"
            }]
          },
          {
            "featureType": "administrative",
            "elementType": "labels.text.fill",
            "stylers": [
            {
              "visibility": "on"
            },
            {
              "color": "#2e5b72"
            }]
          },
          {
            "featureType": "poi",
            "elementType": "labels.icon",
            "stylers": [
            {
              "visibility": "on"
            }]
          },
          {
            "featureType": "poi",
            "elementType": "labels",
            "stylers": [
            {
              "visibility": "on"
            }]
          },
          {
            "featureType": "poi",
            "elementType": "labels.text.fill",
            "stylers": [
            {
              "visibility": "on"
            },
            {
              "color": "#505050"
            }]
          },
          {
            "featureType": "road.arterial",
            "elementType": "geometry.stroke",
            "stylers": [
            {
              "color": "#2e5b72"
            }]
          },
          {
            "featureType": "road",
            "elementType": "labels.icon",
            "stylers": [
            {
              "visibility": "on"
            }]
          },
          {},
          {
            "featureType": "poi",
            "elementType": "geometry.fill",
            "stylers": [
            {
              "color": "#dadada"
            }]
          }]
        });
        addMarker(
        {
          lat: 55.72781503,
          lng: 37.64749749
        })

        function addMarker(coordinates)
        {
          var marker = new google.maps.Marker(
          {
            position: coordinates,
            map: map,
            icon:
            {
              url: 'img/map.svg',
              scaledSize: new google.maps.Size(32, 40),
            },
          });
        }
      }

    </script>
    <!-- BEGIN scripts -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNFO57vNli4qHYiwTDyJsyoFGQcEnCnog&callback=initMap" async defer></script>
    <!-- END scripts -->
{% endblock %}
	
