---
title: contact
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	<!-- Start header -->
	{% include "partials/_header.html" %}
	<!-- End header -->
	<section class="contact">
		<div class="contact__container">
			<div class="contact__title">
				<h1>
					Контакты
				</h1>
				<div class="contact__title__step">
					<a href="#" class="home">
						Главная
					</a>
					<span class="dots"></span>
					<span class="contacts">
						Контакты
					</span>
				</div>
				<div class="contact__adress">
					<div class="contact__adress__map">
						<h3>
							Адрес:
						</h3>
						<a href="#">
							115114, Московская облясть, г. Москва,
							Кожевнический проезд, д. 1
						</a>
						<a href="#" class="font__color border">
							Схема проезда
						</a>
					</div>
					<div class="contact__adress__phone">
						<h3>
							Многоканальный:
						</h3>
						<a href="tel:+74956443359" class="font__color">
							+7(495) 644 33 59
						</a>
					</div>
				</div>
			</div>
			<div class="contact__marketing">
				<h2>
					Отдел маркетинга и PR
				</h2>
				<div class="contact__pos">
					<div class="contact__marketig__phone marg_top">
						<h3>
							Телефоны:
						</h3>
						<span>
							<a href="tel:+74956443359" class="font__color">
								+7 (495) 644 33 59;
							</a>
							<br>
							<a href="tel:+78002003359" class="font__color">
								+7 (800) 200 33 59, доб. 2
							</a>
						</span>
					</div>
					<div class="contact__marketig__mail marg_top">
						<h3>
							E-mail:
						</h3>
						<a href="#" class="font__color border">
							commerce@glosav.ru
						</a>
					</div>
					<div class="contact__marketig__schedule marg_top">
						<h3>
							График работы
						</h3>
						<span class="font__color">
							Пн-Пт: с 10:00 до 19:00
						</span>
					</div>
				</div>
			</div>
			<div class="contact__esources">
				<h2>
					Отдел кадров
				</h2>
				<div class="contact__pos">
					<div class="contact__esources__phone marg_top">
						<h3>
							Телефоны:
						</h3>
						<a href="tel:+78002003359" class="font__color">
							+7 (800) 200 33 59, доб. 2
						</a>
					</div>
					<div class="contact__esources__mail marg_top">
						<h3>
							E-mail:
						</h3>
						<a href="#" class="font__color border">
							commerce@glosav.ru
						</a>
					</div>
					<div class="contact__esource__schedule marg_top">
						<h3>
							График работы:
						</h3>
						<span class="font__color">
							Пн-Пт: с 10:00 до 19:00
						</span>
					</div>
				</div>
			</div>
			<div class="contact__sales">
				<h2>
					Отдел продаж
				</h2>
				<div class="contact__pos">
					<div class="contact__sales__phone marg_top">
						<h3>
							Телефоны:
						</h3>
						<a href="tel:+74956443359" class="font__color">
							+7 (495) 644 33 59;
						</a>
						<br>
						<a href="tel:+78002003359" class="font__color">
							+7 (800) 200 33 59, доб. 2;
						</a>
						<br>
						<a href="tel:+74956443359" class="font__color">
							+7 (495) 644 33 59;
						</a>
					</div>
					<div class="contact__sales__mail marg_top">
						<h3>
							E-mail:
						</h3>
						<a href="#" class="font__color border">
							commerce@glosav.ru
						</a>
						<br>
						<a href="#" class="font__color border">
							commerce_info@glosav.ru
						</a>
					</div>
					<div class="contact__sales__schadule marg_top">
						<h3>
							График работы
						</h3>
						<span class="font__color">
							Пн-Пт: с 10:00 до 19:00
						</span>
					</div>
				</div>
			</div>
			<div class="contact__support">
				<h2>
					Техническая поддержка
				</h2>
				<div class="contact__pos">
					<div class="contact__support__phone marg_top">
						<h3>
							Телефоны:
						</h3>
						<a href="tel:+78002003359" class="font__color">
							+7 (800) 200 33 59, доб. 2
						</a>
					</div>
					<div class="contact__support__mail marg_top">
						<h3>
							E-mail:
						</h3>
						<a href="#" class="font__color border">
							support@glosav.ru
						</a>
					</div>
					<div class="contact__support__schadule marg_top">
						<h3>
							График работы
						</h3>
						<span class="font__color">
							Пн-Пт: с 10:00 до 19:00
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="contact__map" id="map">
			
		</div>
	</section>
	<!-- Start footer -->
	{% include "partials/_footer.html"%}
	<!-- End footer -->

{% endblock %}
	
