---
title: Index napravlenie_spisok
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<div class="header__color__bg">
		<!-- Start header -->
		{% include "partials/_header.html" %}
		<!-- End header -->
	</div>
	<!-- Start section napravlenie -->
	<section>
		<div class="naprav__container">
			<div class="naprav__title">
				<h5>
					Направления
				</h5>
				<div class="bread-crams">
	  				<div class="title-step">
			            <div class="dots-menu-close">
			              {{mixins.icon('close')}}
			            </div>
			            <div class="link-menu">
							<a href="#" class="home">
								Главная
							</a>
							<span class="dots"></span>
							<span class="active-link">
								Направления
							</span>
			            </div>
			        </div> 
			        <div class="toggle__block">
			            <button class="toggle__btn" type="button">
			              <span class="toggle-dots"></span>
			              <span class="toggle-dots"></span>
			              <span class="toggle-dots"></span>
			            </button>
			        </div>
		        </div>
			</div>
		</div>
	</section>
	<!-- End section napravlenie -->
	<!-- Start footer -->
	{% include "partials/_footer.html" %}
	<!-- End footer -->
{% endblock %}