---
title: Index news
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<div class="header__color__bg">
		<!-- Start header -->
		{% include "partials/_header.html" %}
		<!-- End header -->
	</div>
<section class="news">
	<div class="news__container">
		<div class="news__title">
			<h5>
				Новости
			</h5>
			<div class="bread-crams">
  				<div class="title-step">
		            <div class="dots-menu-close">
		              {{mixins.icon('close')}}
		            </div>
		            <div class="link-menu">
						<a href="#" class="home">
							Главная
						</a>
						<span class="dots"></span>
						<span class="active-link">
							Новости
						</span>
		            </div>
		        </div> 
		        <div class="toggle__block">
		            <button class="toggle__btn" type="button">
		              <span class="toggle-dots"></span>
		              <span class="toggle-dots"></span>
		              <span class="toggle-dots"></span>
		            </button>
		        </div>
	        </div>
		</div>
		<div class="news__menu">
			<div class="news__menu__dropdown">
  				<div class="news__dropdown__box">
					<button class="dropdown-toggle">
						Новости по всем направлениям {{mixins.icon('arrow-down')}}
					</button>
		            <div class="news-directions">
						<a href="#" class="categories">
							Мониторинг и тахография
						</a>
						<a href="#" class="categories">
							Разработка ПО
						</a>
						<a href="#" class="categories">
							Системы
						</a>
		            </div>
		        </div>    
	        </div>
		</div>
		<div class="news__row__first">
			<div class="news__left__block">
				<img src="img/bus-international.png" alt="img-bus">
				<span>
					Компания «ГЛОСАВ» 
					стала единственным 
					агентом по подключению 
					к ГАИС «ЭРА-ГЛОНАСС» 
					перевозчиков ...
				</span>
				<a href="#" class="news-btn">
					Подробнее
				</a>
			</div>
			<div class="news__center__block">
				<div class="gradient"></div>
				<img src="img/control.png" alt="img-bus">
				<span>
					«ГЛОСАВ» осуществил поставку и монтаж оборудования Huawei для ООО «ОССП»
				</span>
				<a href="#" class="news-btn">
					Подробнее
				</a>
			</div>
			<div class="news__right__block">
				<img src="img/Stroitelstvo2.png" alt="img-bus">
				<span>
					"ГЛОСАВ" осуществил поставку оборудования Huawei для нужд ООО «Стройгазмонтаж»
				</span>
				<a href="#" class="news-btn">
					Подробнее
				</a>
			</div>	
		</div>
		<div class="news__row__second">
			<div class="news__block">
				<img src="img/1232862.png" alt="img-personal">
				<span>
					Компания «ГЛОСАВ» 
					стала единственным 
					агентом по подключению 
					к ГАИС «ЭРА-ГЛОНАСС» 
					перевозчиков ...
				</span>
				<a href="#" class="news-btn">
					Подробнее
				</a>
			</div>
			<div class="news__block">
				<img src="img/medGB.png" alt="img-box">
				<span>
					Повышение надежности 
					системы мониторинга 
					спутниковой навигации 
					ГЛОНАСС для нужд ГУ ТО «Тулаавтодор»
				</span>
				<a href="#" class="news-btn">
					Подробнее
				</a>
			</div>
			<div class="news__block">
				<div class="gradient"></div>
				<img src="img/информатика.png" alt="img-informatic">
				<span>
					«ГЛОСАВ» осуществил поставку тахографов для ОАО «РЖД»
				</span>
				<a href="#" class="news-btn">
					Подробнее
				</a>
			</div>
			<div class="news__block">
				<img src="img/car.png" alt="img-car">
				<span>
					Развитие системы мониторинга АО «ТК РусГидро»
				</span>
				<a href="#" class="news-btn">
					Подробнее
				</a>
			</div>	
		</div>
		<div class="news__row__third">
			<div class="news__left__block">
				<div class="news__block">
					<img src="img/car.png" alt="img-car">
					<span>
						Развитие системы мониторинга АО «ТК РусГидро»
					</span>
					<a href="#" class="news-btn">
						Подробнее
					</a>
				</div>
				<div class="news__block">
				<div class="gradient"></div>
					<img src="img/control.png" alt="img-control">
					<span>
						Компания «ГЛОСАВ» 
						стала единственным 
						агентом по подключению 
						к ГАИС «ЭРА-ГЛОНАСС» 
						перевозчиков ...
					</span>
					<a href="#" class="news-btn">
						Подробнее
					</a>
				</div>
			</div>
			<div class="news__right__block">
				<div class="news__block">
					<img src="img/link.png" alt="img-link">
					<span>
						"ГЛОСАВ" осуществил поставку тахографов и услуг компании "МРСК-Центра"
					</span>
					<a href="#" class="news-btn">
						Подробнее
					</a>
				</div>
				<div class="news__block">
					<img src="img/doroga3.png" alt="img-doroga">
					<span>
						ГЛОСАВ выбран поставщиком тахографов и услуг для нужд компании "МРСК-Центра" 
					</span>
					<a href="#" class="news-btn">
						Подробнее
					</a>
				</div>
				<div class="news__block">
					<img src="img/DSCF8975.png" alt="img-car">
					<span>
						ГЛОСАВ: Школьники Владимирской области под контролем
					</span>
					<a href="#" class="news-btn">
						Подробнее
					</a>
				</div>
			</div>	
		</div>
		<div class="news__row__four">
			<div class="news__left__block">
				<img src="img/tamozennye-uslugi.png" alt="img-car">
				<span>
					Компания «ГЛОСАВ» 
					стала единственным 
					агентом по подключению 
					к ГАИС «ЭРА-ГЛОНАСС» 
					перевозчиков ...
				</span>
				<a href="#" class="news-btn">
					Подробнее
				</a>
			</div>
			<div class="news__center__block">
				<div class="gradient"></div>
				<img src="img/sputnik.png" alt="img-sputnick">
				<span>
					«ГЛОСАВ» осуществил поставку и монтаж оборудования Huawei для ООО «ОССП»
				</span>
				<a href="#" class="news-btn">
					Подробнее
				</a>
			</div>
			<div class="news__right__block">
				<img src="img/computer-code.png" alt="img-bus">
				<span>
					"ГЛОСАВ" осуществил поставку оборудования Huawei для нужд ООО «Стройгазмонтаж»
				</span>
				<a href="#" class="news-btn">
					Подробнее
				</a>
			</div>	
		</div>
		<div class="button__loading">
			<button class="loading__more" type="button">
				Подгрузить еще новостей
			</button>
		</div>
	</div>
</section>
	<!-- Start footer -->
	{% include "partials/_footer.html" %}
	<!-- End footer -->
{% endblock %}