---
title: Index news
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<div class="header__color__bg">
		<!-- Start header -->
		<header class="header">
			<div class="header__logo">
				<a href="#" class="header__logo-link">
					<img src="img/glosav-logo.png" alt="">
				</a>
			</div>
			<!-- Start adaptive menu -->
				<button class="toggle-menu">
			        <span class="toggle"></span>
			        <span class="toggle"></span>
			        <span class="toggle"></span>
				</button>
			<!-- End adaptive menu -->
			<div class="header__navigation">
				<div class="header__client">
					<div class="header__search">
						<form action="">
							<input class="header__search-input" placeholder="Search..."
									type="search" value="" name="">
							<span class="header__search-icon">
								{{mixins.icon('search')}}
							</span>
						</form>
					</div>
					<input class="header__login" id="open" type="submit" value="Войти">
					<div id="modal__form">
						<span id="modal__close">
							{{mixins.icon('close')}}
						</span>
						<form 
							class="form__box"
							method="POST"
							action="index.php"
							onchange="return Validate()">
							<h2 class="modal__title">
								Вход в web-систему
							</h2>
							<div class="info" id="name_div">
								<input 
									type="text" 
									class="name" 
									name="phone" 
									required="" 
									placeholder="Имя">
								<span id="name_error"></span>
							</div>
							<div class="info" id="email_div">
								<input 
									type="text" 
									class="email" 
									name="email" 
									required="" 
									placeholder="Почта">
								<span id="email_error"></span>
							</div>
							<div class="info" id="password_div">
								<input 
									type="password" 
									class="password" 
									name="password" 
									required="" 
									placeholder="Пароль">
								<span id="password_error"></span>
							</div>
							<div class="form__buttons">
								<input class="button-login" type="submit" name="" value="Войти">
							</div>
						</form>
					</div>
					<div id="overlay"></div>	
					<div class="header__length">
						<a class="click-link" href="#">Ru</a>
						<ul>
							<li><a href="#">Ru</a></li>
							<li><a href="#">Ua</a></li>
							<li><a href="#">En</a></li>
						</ul>	
					</div>
				</div>	
				<ul class="header__menu">
					<li class="header__menu__item">
						<a href="#" class="header__menu__link">
							о компании
						</a>
					</li>
					<li class="header__menu__item">
						<a href="#" class="header__menu__link">
							напрвления
						</a>
					</li>
					<li class="header__menu__item">
						<a href="#" class="header__menu__link">
							продукты
						</a>
					</li>
					<li class="header__menu__item">
						<a href="#" class="header__menu__link active-menu-link">
							новости
						</a>
					</li>
					<li class="header__menu__item">
						<a href="#" class="header__menu__link">
							контакты
						</a>
					</li>
				</ul>
				<div class="header-mobile">
					<div class="header-mobile-logo">
						<a href="#">
							{{mixins.icon('logo_mobile_menu')}}
						</a>
					</div>
					<div class="header-mobile-menu-close">
						{{mixins.icon('close')}}
					</div>
				</div>
			</div>
		</header>
		<!-- End header -->
<section class="news">
	<div class="news__container">
		<div class="news__title">
			<h5>
				Новости
			</h5>
			<div class="bread-crams">
  				<div class="title-step">
		            <div class="dots-menu-close">
		              {{mixins.icon('close')}}
		            </div>
		            <div class="link-menu">
						<a href="#" class="home">
							Главная
						</a>
						<span class="dots"></span>
						<span class="active-link">
							Новости
						</span>
		            </div>
		        </div> 
		        <div class="toggle__block">
		            <button class="toggle__btn" type="button">
		              <span class="toggle-dots"></span>
		              <span class="toggle-dots"></span>
		              <span class="toggle-dots"></span>
		            </button>
		        </div>
	        </div>
		</div>
		<div class="news__menu">
			<div class="news__menu__dropdown">
  				<div class="news__dropdown__box">
					<button class="dropdown-toggle">
						Новости по всем направлениям {{mixins.icon('arrow-down')}}
					</button>
		            <div class="news-directions">
						<a href="#" class="categories">
							Мониторинг и тахография
						</a>
						<a href="#" class="categories">
							Разработка ПО
						</a>
						<a href="#" class="categories">
							Системы
						</a>
		            </div>
		        </div>    
	        </div>
		</div>
		<div class="news__box">
			<div class="news__block__first position">
				<img src="img/bus-international.png" alt="img-bus">
				<span class="text_review">
					Компания «ГЛОСАВ» 
					стала единственным 
					агентом по подключению 
					к ГАИС «ЭРА-ГЛОНАСС» 
					перевозчиков
				</span>
				<a href="#" class="news-btn">
					Подробнее
				</a>
			</div>
			<div class="news__block__second">
				<div class="gradient"></div>
				<img src="img/control.png" alt="img-bus">
				<span class="text_review">
					«ГЛОСАВ» осуществил поставку и монтаж оборудования Huawei для ООО «ОССП»
				</span>
				<a href="#" class="news-btn">
					Подробнее
				</a>
			</div>
			<div class="news__block__third position">
				<img src="img/Stroitelstvo2.png" alt="img-bus">
				<span class="text_review">
					"ГЛОСАВ" осуществил поставку оборудования Huawei для нужд ООО «Стройгазмонтаж»
				</span>
				<a href="#" class="news-btn">
					Подробнее
				</a>
			</div>	
			<div class="news__block__four position">
				<img src="img/1232862.png" alt="img-personal">
				<span class="text_review">
					Компания «ГЛОСАВ» 
					стала единственным 
					агентом по подключению 
					к ГАИС «ЭРА-ГЛОНАСС» 
					перевозчиков
				</span>
				<a href="#" class="news-btn">
					Подробнее
				</a>
			</div>
			<div class="news__block__five position">
				<img src="img/medGB.png" alt="img-box">
				<span class="text_review">
					Повышение надежности 
					системы мониторинга 
					спутниковой навигации 
					ГЛОНАСС для нужд ГУ ТО «Тулаавтодор»
				</span>
				<a href="#" class="news-btn">
					Подробнее
				</a>
			</div>
			<div class="news__block__six position">
				<div class="gradient"></div>
				<img src="img/информатика.png" alt="img-informatic">
				<span class="text_review">
					«ГЛОСАВ» осуществил поставку тахографов для ОАО «РЖД»
				</span>
				<a href="#" class="news-btn">
					Подробнее
				</a>
			</div>
			<div class="news__block__seven position">
				<img src="img/car.png" alt="img-car">
				<span class="text_review">
					Развитие системы мониторинга АО «ТК РусГидро»
				</span>
				<a href="#" class="news-btn">
					Подробнее
				</a>
			</div>	
			<div class="news__block__eight">
				<div class="gradient"></div>
				<img src="img/control.png" alt="img-control">
				<span class="text_review">
					Компания «ГЛОСАВ» 
					стала единственным 
					агентом по подключению 
					к ГАИС «ЭРА-ГЛОНАСС» 
					перевозчиков
				</span>
				<a href="#" class="news-btn">
					Подробнее
				</a>
			</div>
			<div class="news__block__nine">
				<div class="news__block">
					<img src="img/link.png" alt="img-link">
					<span class="text_review">
						"ГЛОСАВ" осуществил поставку тахографов и услуг компании "МРСК-Центра"
					</span>
					<a href="#" class="news-btn">
						Подробнее
					</a>
				</div>
				<div class="news__block">
					<img src="img/doroga3.png" alt="img-doroga">
					<span class="text_review">
						ГЛОСАВ выбран поставщиком тахографов и услуг для нужд компании "МРСК-Центра" 
					</span>
					<a href="#" class="news-btn">
						Подробнее
					</a>
				</div>
				<div class="news__block">
					<img src="img/DSCF8975.png" alt="img-car">
					<span class="text_review">
						ГЛОСАВ: Школьники Владимирской области под контролем
					</span>
					<a href="#" class="news-btn">
						Подробнее
					</a>
				</div>
			</div>	
			<div class="news__block__ten position">
				<img src="img/tamozennye-uslugi.png" alt="img-car">
				<span class="text_review">
					Компания «ГЛОСАВ» 
					стала единственным 
					агентом по подключению 
					к ГАИС «ЭРА-ГЛОНАСС» 
					перевозчиков
				</span>
				<a href="#" class="news-btn">
					Подробнее
				</a>
			</div>
			<div class="news__block__eleven">
				<div class="gradient"></div>
				<img src="img/sputnik.png" alt="img-sputnick">
				<span class="text_review">
					«ГЛОСАВ» осуществил поставку и монтаж оборудования Huawei для ООО «ОССП»
				</span>
				<a href="#" class="news-btn">
					Подробнее
				</a>
			</div>
			<div class="news__block__twelve position">
				<img src="img/computer-code.png" alt="img-bus">
				<span class="text_review">
					"ГЛОСАВ" осуществил поставку оборудования Huawei для нужд ООО «Стройгазмонтаж»
				</span>
				<a href="#" class="news-btn">
					Подробнее
				</a>
			</div>	
		</div>
		<div class="button__loading">
			<button class="loading__more" type="button">
				Подгрузить еще новостей
			</button>
		</div>
	</div>
</section>
	<!-- Start footer -->
	{% include "partials/_footer.html" %}
	<!-- End footer -->
	</div>
{% endblock %}