---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
<div class="pagewrap">
	<div class="header__color__bg">
		<div class="width-max">
			<!-- Start header -->
			{% include "partials/_header.html" %}
			<!-- End header -->
		</div>
	</div>
	<main class="main">
		<div class="width-max">
			<!-- Start slider -->
			{% include "partials/_sliders.html"%}
			<!-- End slider -->
		</div>
	</main>
	
		<!-- Start footer -->
		{% include "partials/_footer.html" %}
		<!-- End footer -->
</div>	
{% endblock %}
