---
title: Index promo
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<!-- Start header -->
	<div class="header__bg">
		<img src="img/1685917037.png" alt="car">
		<div class="header__gradient">

			{% include "partials/_header.html" %}
			<div class="promo__title">
				<h5>
					Промо-страница
				</h5>
				<div class="promo__title__step">
					<a href="#" class="home">
						Главная
					</a>
					<span class="dots"></span>
					<a href="#" class="products">
						Продукты и решения
					</a>
					<span class="dots"></span>
					<span class="promos">
						Промо-страница
					</span>
				</div>
				<div class="promo__toggle__btn">
					<button class="promo__toggle" type="button">
						<span class="toggle-dots"></span>
						<span class="toggle-dots"></span>
						<span class="toggle-dots"></span>
					</button>
				</div>	
			</div>		
		</div>
	</div>
	<!-- End header -->
	<section class="promo">
		<div class="promo__container">
			<div class="promo__block__first">
				<div class="first__left">
					<img src="img/tamozennye.png" alt="img">
				</div>
				<div class="first__right">
					<h2>
						ГЛОСАВ осуществляет поставку мониторингового
						оборудования для филиала ОАО «Федеральная 
						сетевая компания» МЭС Центра.
					</h2>
					<p class="promo__text">
						Компания ГЛОСАВ признана победителем тендера на
						поставку и установку систем мониторинга транспорта
						с использованием оборудования ГЛОНАСС/GPS для
						филиала ОАО «Федеральная сетевая компания»(ФСК ЕЭС)
						«Магистральные электрические сети Центра»(МЭС
						Центра). Мониторинговое оборудование будет
						установлено на 890 транспортных средств в филиалах(
						ПМЭС) входящих В зону ответственности МЭС Центра:
						Валдайское, Верхне-Донское, Волго-Донское,
						Волго-Окское, Вологодское, Московское, Приокское и
						Черноземное. 
					</p>
				</div>
			</div>
			<div class="promo__block__second">
				<div class="second__left">
					<img src="img/promo-sputnik.png" alt="img">
				</div>
				<div class="second__right">
					<h2>
						ГЛОСАВ осуществляет поставку мониторингового
						оборудования для филиала ОАО «Федеральная 
						сетевая компания» МЭС Центра.
					</h2>
					<p class="promo__text">
						Компания ГЛОСАВ признана победителем тендера на
						поставку и установку систем мониторинга транспорта
						с использованием оборудования ГЛОНАСС/GPS для
						филиала ОАО «Федеральная сетевая компания»(ФСК ЕЭС)
						«Магистральные электрические сети Центра»(МЭС
						Центра). Мониторинговое оборудование будет
						установлено на 890 транспортных средств в филиалах(
						ПМЭС) входящих В зону ответственности МЭС Центра:
						Валдайское, Верхне-Донское, Волго-Донское,
						Волго-Окское, Вологодское, Московское, Приокское и
						Черноземное. 
					</p>
				</div>
			</div>
			<div class="promo__block__third">
				<div class="third__left">
					<img src="img/iveco-gruzovik.png" alt="img">
				</div>
				<div class="third__right">
					<h2>
						ГЛОСАВ осуществляет поставку мониторингового
						оборудования для филиала ОАО «Федеральная 
						сетевая компания» МЭС Центра.
					</h2>
					<p class="promo__text">
						Компания ГЛОСАВ признана победителем тендера на
						поставку и установку систем мониторинга транспорта
						с использованием оборудования ГЛОНАСС/GPS для
						филиала ОАО «Федеральная сетевая компания»(ФСК ЕЭС)
						«Магистральные электрические сети Центра»(МЭС
						Центра). Мониторинговое оборудование будет
						установлено на 890 транспортных средств в филиалах(
						ПМЭС) входящих В зону ответственности МЭС Центра:
						Валдайское, Верхне-Донское, Волго-Донское,
						Волго-Окское, Вологодское, Московское, Приокское и
						Черноземное. 
					</p>
				</div>
			</div>
		</div>	
		<div class="promo__video">
			<img class="image-bg" src="img/video.png" alt="video">
			<img class="icon-play" src="img/play.png" alt="play">
			<div class="promo__video__popup">
				<iframe width="100%" height="480" src="https://www.youtube.com/embed/PR9zS-O0teM?autohide=1rel=0" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="promo__close__bg"></div>
		</div>	
		<div class="promo__container">
			<div class="promo__block__four">
				<div class="four__left">
					<img src="img/img_collection.png" alt="img">
				</div>
				<div class="four__right">
					<h2>
						ГЛОСАВ осуществляет поставку мониторингового
						оборудования для филиала ОАО «Федеральная 
						сетевая компания» МЭС Центра.
					</h2>
					<p class="promo__text">
						Компания ГЛОСАВ признана победителем тендера на
						поставку и установку систем мониторинга транспорта
						с использованием оборудования ГЛОНАСС/GPS для
						филиала ОАО «Федеральная сетевая компания»(ФСК ЕЭС)
						«Магистральные электрические сети Центра»(МЭС
						Центра). Мониторинговое оборудование будет
						установлено на 890 транспортных средств в филиалах(
						ПМЭС) входящих В зону ответственности МЭС Центра:
						Валдайское, Верхне-Донское, Волго-Донское,
						Волго-Окское, Вологодское, Московское, Приокское и
						Черноземное. 
					</p>
					<button class="button__more__info" type="button">
					Подробнее
				</button>
				</div>
			</div>
			<div class="promo__block__five">
				<div class="five__left">
					<img src="img/home-range-500.png" alt="img">
				</div>
				<div class="five__right">
					<h2>
						ГЛОСАВ" стал официальным партнером<br> компании
						Huawei
					</h2>
					<p class="promo__text">
						Компания ГЛОСАВ признана победителем тендера на
						поставку и установку систем мониторинга транспорта
						с использованием оборудования ГЛОНАСС/GPS для
						филиала ОАО «Федеральная сетевая компания»(ФСК ЕЭС)
						«Магистральные электрические сети Центра»(МЭС
						Центра). Мониторинговое оборудование будет
						установлено на 890 транспортных средств в филиалах(
						ПМЭС) входящих В зону ответственности МЭС Центра:
						Валдайское, Верхне-Донское, Волго-Донское,
						Волго-Окское, Вологодское, Московское, Приокское и
						Черноземное. 
					</p>
				</div>
			</div>
		</div>
	</section>
	<!-- Start footer -->
	{% include "partials/_footer.html" %}
	<!-- End footer -->
{% endblock %}