---
title: Index spisok_produktov
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	<div class="product__color__bg">
    <!-- Start header -->
    	<header class="header width-max">
			<div class="header__logo">
				<a href="#" class="header__logo-link">
					<img src="img/glosav-logo.png" alt="">
				</a>
			</div>
			<!-- Start adaptive menu -->
				<button class="toggle-menu">
			        <span class="toggle"></span>
			        <span class="toggle"></span>
			        <span class="toggle"></span>
				</button>
			<!-- End adaptive menu -->
			<div class="header__navigation">
				<div class="header__client">
					<div class="header__search">
						<form action="">
							<input class="header__search-input" placeholder="Search..."
									type="search" value="" name="">
							<span class="header__search-icon">
								{{mixins.icon('search')}}
							</span>
						</form>
					</div>
					<input class="header__login" id="open" type="submit" value="Войти">
					<div id="modal__form">
						<span id="modal__close">
							{{mixins.icon('close')}}
						</span>
						<form 
							class="form__box"
							method="POST"
							action="index.php"
							onchange="return Validate()">
							<h2 class="modal__title">
								Вход в web-систему
							</h2>
							<div class="info" id="name_div">
								<input 
									type="text" 
									class="name" 
									name="phone" 
									required="" 
									placeholder="Имя">
								<span id="name_error"></span>
							</div>
							<div class="info" id="email_div">
								<input 
									type="text" 
									class="email" 
									name="email" 
									required="" 
									placeholder="Почта">
								<span id="email_error"></span>
							</div>
							<div class="info" id="password_div">
								<input 
									type="password" 
									class="password" 
									name="password" 
									required="" 
									placeholder="Пароль">
								<span id="password_error"></span>
							</div>
							<div class="form__buttons">
								<input class="button-login" type="submit" name="" value="Войти">
							</div>
						</form>
					</div>
					<div id="overlay"></div>	
					<div class="header__length">
						<a class="click-link" href="#">Ru</a>
						<ul>
							<li><a href="#">Ru</a></li>
							<li><a href="#">Ua</a></li>
							<li><a href="#">En</a></li>
						</ul>	
					</div>
				</div>	
				<ul class="header__menu">
					<li class="header__menu__item">
						<a href="#" class="header__menu__link">
							о компании
						</a>
					</li>
					<li class="header__menu__item">
						<a href="#" class="header__menu__link">
							напрвления
						</a>
					</li>
					<li class="header__menu__item">
						<a href="#" class="header__menu__link active-menu-link">
							продукты
						</a>
					</li>
					<li class="header__menu__item">
						<a href="#" class="header__menu__link">
							новости
						</a>
					</li>
					<li class="header__menu__item">
						<a href="#" class="header__menu__link">
							контакты
						</a>
					</li>
				</ul>
				<div class="header-mobile">
					<div class="header-mobile-logo">
						<a href="#">
							{{mixins.icon('logo_mobile_menu')}}
						</a>
					</div>
					<div class="header-mobile-menu-close">
						{{mixins.icon('close')}}
					</div>
				</div>
			</div>
		</header>
    <!-- End header -->
	<section>
		<div class="product__wrap">
			<div class="product__wrap__title width-max">
				<h5>
					Системная интеграция
				</h5>
        		<div class="bread-crams">
  					<div class="title-step">
            			<div class="dots-menu-close">
              				{{mixins.icon('close')}}
            			</div>
            			<div class="link-menu">
	    					<a href="#" class="home">
	    						Главная
	    					</a>
	    					<span class="dots"></span>
	    					<a href="#" class="home">
	    						Продукты
	    					</a>
	    					<span class="dots"></span>
	    					<span class="active-link">
	    						Системная интеграция
	    					</span>
            			</div>
          			</div>
					<div class="toggle__block">
						<button class="toggle__btn" type="button">
							<span class="toggle-dots"></span>
							<span class="toggle-dots"></span>
							<span class="toggle-dots"></span>
						</button>
					</div>
				</div>
			</div>
			<div class="product">
				<div class="product__row">
					<div class="product__block width-max">
						<div class="product__block__image" style="background-image: url(img/4f66feb37c4c872f34e48fb3e4b66b3d.png)">
						</div>
						<div class="product__block__content">
							<h2>
								Бортовой блок
							</h2>
							<p>
								Основные функциональные узлы контроллера (GSM-терминал, GPS- приемник и т. п.) выполнены в виде отдельных модулей, которые устанавливаются на основной плате и легко заменяются. Такая компоновка дает ряд преимуществ при производстве и обслуживании контроллеров.
							</p>
							<button class="product-btn-more" type="button">
								Подробнее
							</button>
						</div>
					</div>
				</div>
				<div class="product__row row-bg">
					<div class="product__block width-max">
						<div class="product__block__image" style="background-image: url(img/7c337b4b0223ce7ff71ad81dd0391d5e.png)">
						</div>
						<div class="product__block__content">
							<h2>
								Видеорегистратор
							</h2>
							<p>
								Цифровой видеорегистратор BestDVR 405 Comfort-L (Mobile-SD) относится к профессиональным видеорегистраторам класса Special в линейке BestDVR. Comfort-L (Mobile-SD) отличается небольшими габаритами и высокой степенью надежности. Испытания показали, что он отлично работает при -300С. Видеорегистратор поддерживает 4 видеокамеры и 4 микрофона одновременно. Видео выводится на монитор как с одной камеры, так с двух или четырех по выбору. BestDVR 405 Comfort-L (Mobile-SD) – отличное решение для транспортных средств, эксплуатация которых требует повышенной безопасности и контроля: инкассаторских машин, общественного транспорта, автозаков, автомобилей служб безопасности.
							</p>
							<button class="product-btn-more" type="button">
								Подробнее
							</button>
						</div>
					</div>
				</div>
				<div class="product__row">
					<div class="product__block width-max">
						<div class="product__block__image" style="background-image: url(img/a3579aee9770f76d03e1cfc86aebb0fb.png)">
						</div>
						<div class="product__block__content">
							<h2>
								Устройство «ГЛОСАВ-МАРКЕР»
							</h2>
							<p>
								Портативный, автономный, миниатюрный спутниковый охранно-поисковый комплекс, предназначенный для точного определения местоположения и передачи координат владельцу.
							</p>
							<button class="product-btn-more" type="button">
								Подробнее
							</button>
						</div>
					</div>
				</div>
				<div class="product__row row-bg">
					<div class="product__block width-max">
						<div class="product__block__image" style="background-image: url(img/ff1b77978d2e012fd5b2663e99f0487c.png)">
						</div>
						<div class="product__block__content">
							<h2>
								Бесконтактный считыватель
							</h2>
							<p>
								RFID – это идентификация и регистрация объектов при помощи радиочастотного канала связи. Идентификация объектов производится по уникальному коду, считываемому из памяти специализированной микросхемы – электронной метки.
							</p>
							<button class="product-btn-more" type="button">
								Подробнее
							</button>
						</div>
					</div>
				</div>
				<div class="product__row">
					<div class="product__block width-max">
						<div class="product__block__image" style="background-image: url(img/b95e5b1fe7c3318a308d14cc29615fdf.png)">
						</div>
						<div class="product__block__content">
							<h2>
								Спутниковое оборудование
							</h2>
							<p>
								Спутниковое оборудование ГЛОНАСС/GPS является терминалами двухрежимной передачи данных со встроенным приемником ГЛОНАСС. Терминалы используются для сбора данных о транспортном средстве и передачи их через спутниковую или сотовую сеть. Разработанные специально для рынка телематики эти терминалы рассчитывают местонахождение объектов с помощью любой из навигационных систем без затрат и сложностей, связанных с интеграцией внешних модулей ГЛОНАСС/GPS.
							</p>
							<button class="product-btn-more" type="button">
								Подробнее
							</button>
						</div>
					</div>
				</div>
				<div class="product__row row-bg">
					<div class="product__block width-max">
						<div class="product__block__image" style="background-image: url(img/d4270bd3073b59c92a54608efc0616dd.png)">
							<img src="img/d4270bd3073b59c92a54608efc0616dd.png">
						</div>
						<div class="product__block__content">
							<h2>
								Тривожная кнопка
							</h2>
							<p>
								Тревожная кнопка размещается в кабине транспортного средства со стороны водителя, предназначена для оперативного информирования водителем оператора системы мониторинга транспорта или экстренных оперативных служб о возникновении чрезвычайных ситуаций.
							</p>
							<button class="product-btn-more" type="button">
								Подробнее
							</button>
						</div>
					</div>
				</div>
				<div class="product__row">
					<div class="product__block width-max">
						<div class="product__block__image" style="background-image: url(img/d80ea0f8fc719d1aca6efa20e5bf6730.png)">
						</div>
						<div class="product__block__content">
							<h2>
								Универсальный датчик механизмов
							</h2>
							<p>
								Универсальный датчик механизмов применяется для контроля работы дополнительного специального оборудования автотранспорта (контроль работы автобетоносмесителя – отслеживает направление вращения миксера с бетоном, контроль положения/ работы механизмов спецтехники – плуг/отвал, щетка/средний отвал – у дорожно-уборочной техники; работа ковша – у фронтального погрузчика, экскаватора). Устойчивость к агрессивным средам (раствор серной кислоты, соль, ГСМ).
							</p>
							<button class="product-btn-more" type="button">
								Подробнее
							</button>
						</div>
					</div>
				</div>
				<div class="product__row row-bg">
					<div class="product__block width-max">
						<div class="product__block__image" style="background-image: url(img/a8a59dbf1de558bf1583f7cbaac70a5c.png)">
						</div>
						<div class="product__block__content">
							<h2>
								Персональный трекер TR-206
							</h2>
							<p>
								GPS трекер TR-206 - это личный спутниковый GPS трекер с функциями мобильного телефона для контроля местоположения (мониторинга) людей и мониторинга транспорта. Трекер вычисляет координаты, скорость и направление по спутниковой системе GPS и отправляет отчёты о них по каналам GPRS или SMS.
							</p>
							<button class="product-btn-more" type="button">
								Подробнее
							</button>
						</div>
					</div>
				</div>
				<div class="product__row">
					<div class="product__block width-max">
						<div class="product__block__image" style="background-image: url(img/28c9e72ae872bd891e7b62d30da0cf91.png)">
						</div>
						<div class="product__block__content">
							<h2>
								Контроль расхода топлива: Датчик уровня топлива
							</h2>
							<p>
								Для транспортных компаний проблема контроля топлива с каждым днем становится все более и более актуальной. Ведь от того, насколько грамотно организована система учета топлива, напрямую зависит конкурентоспособность и выживаемость компании на рынке. По статистике, хищение горючего на автопредприятиях – входит в первую тройку причин снижения рентабельности и увеличения расходов на содержание автопарков.
							</p>
							<button class="product-btn-more" type="button">
								Подробнее
							</button>
						</div>
					</div>
				</div>
				<div class="product__row row-bg">
					<div class="product__block width-max">
						<div class="product__block__image" style="background-image: url(img/3165dcdb06dcaae9fc20210775deddb5.png)">
						</div>
						<div class="product__block__content">
							<h2>
								Антивандальная цветная видеокамера
							</h2>
							<p>
								Антивандальная цветная видеокамера высокого разрешения. Металлический корпус выполнен из металла с ударопрочным порошковым покрытием. Видеокамера может быть использована как внутри, так и вне помещения без дополнительных термокожухов и устройств обогрева.
							</p>
							<button class="product-btn-more" type="button">
								Подробнее
							</button>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</section>
	<!-- Start footer -->
	{% include "partials/_footer.html"%}
	<!-- End footer -->
  </div>
  {% endblock %}