---
title: Index text
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<div class="header__color__bg">
		<!-- Start header -->
		{% include "partials/_header.html" %}
		<!-- End header -->
	</div>
	<!-- Start section text -->
	<section>
		<div class="text__container">
			<div class="text__title">
				<h5>
					Пoставка мониторингового оборудования
				</h5>
				<div class="bread-crams">
	  				<div class="title-step">
			            <div class="dots-menu-close">
			              {{mixins.icon('close')}}
			            </div>
			            <div class="link-menu">
							<a href="#" class="home">
								Главная
							</a>
							<span class="dots"></span>
							<span class="active-link">
								Продукты и решения
							</span>
			            </div>
			        </div> 
			        <div class="toggle__block">
			            <button class="toggle__btn" type="button">
			              <span class="toggle-dots"></span>
			              <span class="toggle-dots"></span>
			              <span class="toggle-dots"></span>
			            </button>
			        </div>
		        </div>
			</div>
			<h2>
				ГЛОСАВ осуществляет поставку оборудования для
				филиала ОАО «Федеральная сетевая компания»
			</h2>
			<img src="img/tamozennye.png">
			<p>
				Компания ГЛОСАВ признана победителем тендера на поставку и установку систем мониторинга транспорта с использованием оборудования ГЛОНАСС/GPS для филиала ОАО «Федеральная сетевая компания»(ФСК ЕЭС) «Магистральные электрические сети Центра»(МЭС Центра). Мониторинговое оборудование будет установлено на 890 транспортных средств в филиалах(ПМЭС) входящих В зону ответственности МЭС Центра: Валдайское, Верхне-Донское, Волго-Донское, Волго-Окское, Вологодское, Московское, Приокское и Черноземное.
			</p>
			<span>Каждое транспортное средство будет оборудовано:</span>
			<ul>
				<li>
					полным навигационным комплексом ГЛОНАСС/GPS
				</li>
				<li>
					подключением дополнительного блока двусторонней голосовой связи
				</li>
				<li>
					техподдержкой круглосуточно
				</li>
				<li>
					 тревожной кнопки информирования о чрезвычайном происшествии.
				</li>
			</ul>
			<h2>
				Система ГЛОНАСС может помочь
			</h2>
			<p>
				ОАО «Федеральная сетевая компания»(ФСК ЕЭС) входит в перечень системообразующих организаций РФ. ФСК ЕЭС занимает первое место в мире по протяженности линий электропередачи (132,3 тыс. км) и трансформаторной мощности (332,5 тыс. МВА) среди публичных электросетевых компаний. В компании работают более 23 тысяч человек. 
			</p>
			<iframe  src="https://www.youtube.com/embed/PR9zS-O0teM?autohide=1rel=0" frameborder="0" allowfullscreen></iframe>
			<p>
				По словам экспертов, глобальные системы навигации можно использовать при осуществлении автоматизированной дозаправки самолетов в воздухе. При этом может осуществляться поиск самолета-заправщика тем лайнерам, которые нуждаются в дозаправке, выход в эшелон, а также сближение самолетов. 
				Использование технологий ГЛОНАСС поможет своевременно реагировать на экстренные ситуации, в которых требуется срочная дозаправка самолетов. 
			</p>
			<blockquote>
				<p>
					Напомним, что Huawei Technologies Co. Ltd.  одна из крупнейших китайских компаний в сфере телекоммуникаций. Основана Жэнем Чжэнфэем в 1987 году. Основным видом деятельности является производство и продажа оборудования беспроводных сетей, сетевых устройств, приложений и аппаратного обеспечения для мобильной связи.
				</p> 
			</blockquote>
			<p>
				На сегодняшний день офисы компании открыты в 11 городах России — Москве, Санкт - Петербурге , Нижнем Новгороде , Самаре, Казани, Уфе, Ростове-на-Дону, Краснодаре, Екатеринбурге, Новосибирске, Владивостоке. Компания принимает активное участие в работе крупнейших отраслевых ассоциаций, в конференциях и отраслевых выставках на территории стран СНГ. Активно работает российский Научно-исследовательский центр компании Huawei.
			</p>
		</div>
	</section>
	<!-- End section text -->
	<!-- Start footer -->
	{% include "partials/_footer.html" %}
	<!-- End footer -->	
{% endblock %}