.icon-alfabank_logo {
  width: 3.41em;
  height: 1em;
  fill: initial;
}
.icon-apple_logo {
  width: 0.82em;
  height: 1em;
  fill: initial;
}
.icon-arrow-down {
  width: 1.77em;
  height: 1em;
  fill: initial;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-dell_logo {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-gazprom_logo {
  width: 2.1em;
  height: 1em;
  fill: initial;
}
.icon-glosav-logo {
  width: 3.1em;
  height: 1em;
  fill: initial;
}
.icon-google_logo {
  width: 3.05em;
  height: 1em;
  fill: initial;
}
.icon-huawei_logo {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-intel_logo {
  width: 1.5em;
  height: 1em;
  fill: initial;
}
.icon-logo_mobile_menu {
  width: 3.15em;
  height: 1em;
  fill: initial;
}
.icon-mail {
  width: 1.36em;
  height: 1em;
  fill: initial;
}
.icon-map {
  width: 0.82em;
  height: 1em;
  fill: initial;
}
.icon-mts_logo {
  width: 2.77em;
  height: 1em;
  fill: initial;
}
.icon-next-arrow {
  width: 6.67em;
  height: 1em;
  fill: initial;
}
.icon-phone {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-sberbank_logo {
  width: 4.59em;
  height: 1em;
  fill: initial;
}
.icon-search {
  width: 0.96em;
  height: 1em;
  fill: initial;
}
.icon-skb-bank_logo {
  width: 4.29em;
  height: 1em;
  fill: initial;
}
