.first-section
	padding: 157px 0 65px
	border: 1px solid $color-border
	border-top: none
	border-bottom: none
	
h2
	font-family: $arboria
	font-weight: 300
	font-size: 40px
	padding-left: 40px
	color: $color-title
	
.section-block
	display: flex
	align-items: center
	justify-content: space-between
	margin-top: 84px
	padding: 0 40px

.section-media	
	display: flex
	align-items: center
	justify-content: space-around
	width: 50%

.product
	display: flex
	flex-direction: column
	width: 164px
	line-height: 24px
	text-align: center
	&__pictures
		margin-bottom: 44px

.picture__about
	font-family: $sourcesanspro
	font-weight: 400
	font-size: 20px
	color: #0f1d2b