@media screen and (max-width: 1024px)
	// Navigation
	
	.nav-logo
		margin-left: 36px
	.nav-menu
		&:first-child
			margin-left: 20px

	.nav-menu__item
		margin-left: 20px

	//Slider

	.slider-menu
		display: none

	.arrow__slick
		display: none	
	

	//First section

	.first-section
		padding-bottom: 0

	.section-block
		display: block
		width: 500px
		margin: 0 auto
		margin-top: 60px

	.section-media
		width: 100%

	.product
		padding-bottom: 40px
	
	//Second section
	.block-hogor
		display: block

	.hogor-title
		width: 70%	
		margin: 0 auto 40px

	.hogor-title:last-child
		margin: 0 auto 40px

	.link-ver
		text-align: center		
	
	//Third section
	.block-promos
		display: block

	.promos__title
		margin: 0 auto 40px
		width: 70%
		&:last-child
			margin: 0 auto

	.main-third-block
		padding-bottom: 0	
	
	// .link-ver
	// 	display: block
	// 	margin: 0 aut

	//Four section
	.section-football
		display: block
		padding-right: 40px
		padding-bottom: 100px
		
	.football-content
		width: 600px
		margin: 0 auto

	.football-foto
		margin-top: 40px
		text-align: center

	.linkin
		width: 280px
		margin: 0 auto

	//Five section
	.live-content
		display: block
		margin-top: 100px
		text-align: center

	.footer-down
		margin: 0 auto	

	.content-information
		margin: 0 auto
		padding-right: 0

	.content-logo	
		margin: 0 auto	
		
	.footer__information	
		justify-content: center

	.impreza-h2
		margin-left: 0
		text-align: center

	//footer

	.foot-left
		display: block

	.foot-right
		display: block

	.block-item
		min-width: 160px
		margin-bottom: 20px

	.content-logo
		margin-bottom: 20px	

	.footer-down
		display: block
		text-align: center

	.footer__logo
		margin-bottom: 10px

	.block-brend
		margin-top: 10px


@media screen and (max-width: 767px)

	//Navigation
	.nav-menu
		display: none

	.toggle-menu
		display: block
	
	.navigation__container
		position: relative

	.nav-menu
		display: none
		position: absolute
		top: 60px
		right: 75px
		min-width: 200px
		padding: 10px 0
		z-index: 20
		background: rgba(0,0,0,0.7)
	
	.nav-menu__item
		display: block
		position: static
		margin-right: 20px
		height: 40px
		margin-left: 0
		&:first-child
			padding-right: 0
			margin-left: 0


	.nav-menu__link
		display: block
		width: 100%
		color: #fff
		padding: 10px 0
		margin-bottom: 10px
		
		
	.nav-menu__item:after
		display: none

	.header-button
		display: none

	h2
		font-size: 35px

	//Slider
	
	.slick-dots
		width: 33.3%
		font-size: 12px

	//First section
	
	.slid-dots
		width: 100%
		min-width: 110px


	//Second section
	
	.hogor-title
		width: 90%

	//Third section
	.promos__title
		width: 90%

	//Four section
	.football-content			
		width: 90%
	//Five section
	.live-content
		padding: 0 40px

	.content-logo
		margin: 0 auto 20px
	
	.impreza-h2
		font-size: 35px
	//Footer
	
	.footer-up-block
		padding-right: 40px
		padding-left: 40px

	.footer__information
		display: block

	.information__company	
		border-right: none

	.social
		width: 70px
		margin: 10px auto 0



@media screen and (max-width: 480px)
	
	.linkin
		width: 240px
	
	.contact-item
		display: none

	.toggle-menu
			
//Slider
	
	.box-slider
		height: 440px

	.slider-menu
		display: block

	.banners__promo
		display: none

	.position__chat
		display: none

	.buttwidth		
		display: none
		
	.slick-current
		border: none

//First section
	.first-section
		padding-top: 87px
		h2
			padding-right: 10px	
			padding-left: 10px			

	.section-block
		width: 100%
		padding-right: 10px	
		padding-left: 10px

	.section-media
		display: block
	
//Second section
	.second-section
		padding-right: 10px	
		padding-left: 10px	

	.product
		width: 100%
		margin: 0 auto

	.impreza-button
		font-size: 12px
		padding: 12px 10px

//Third section
	.promos__title
		width: 100%

	.hogor-title	
		width: 100%
		
	.main-third-block
		padding: 81px 10px


//Four section
	
	.section-football
		padding-right: 10px	
		padding-left: 10px
	
//Five section
	.live-content
		padding: 0 10px

	.impreza
		padding-right: 10px	
		padding-left: 10px	

//footer
	.block-item
		margin-right: 0

	.footer-up-block
		align-items: center
		flex-direction: column
		text-align: center
