@media screen and (max-width: 1024px)
	// Navigation
	
	.nav-logo
		margin-left: 36px
	.nav-menu
		&:first-child
			margin-left: 20px

	.nav-menu__item
		margin-left: 20px

	//Slider

	.slider-menu
		display: none

	.arrow__slick
		display: none	
	

	//First section

	.buttwidth
		margin-bottom: 100px

	.first-section
		padding-bottom: 0

	.section-block
		display: block
		width: 500px
		margin: 0 auto
		margin-top: 60px

	.section-media
		width: 100%

	.product
		padding-bottom: 40px
	
	//Second section
	.block-hogor
		display: block
		width: 380px
		margin: 0 auto

	.hogor-title:nth-child(2)
		margin-right: 0

			
	
	//Third section
	.block-promos
		display: block
		width: 380px
		margin: 40px auto 0

	.promos__title
		margin-bottom: 40px
		margin-right: 0

	.main-third-block
		padding-bottom: 0	


	//Four section
	.section-football
		display: block
		padding-right: 40px
		padding-bottom: 100px
		
	.football-content
		width: 600px
		margin: 0 auto

	.football-foto
		margin-top: 40px
		text-align: center	

	//Five section
	.live-content
		display: block
		margin-top: 100px
		text-align: center

	.content-information
		padding-right: 0
		margin: 0 auto

	.impreza-h2
		margin-left: 0
		text-align: center	

	//footer

	.block-item
		min-width: 160px
		margin-bottom: 20px

	.content-logo
		margin-bottom: 20px	

	.footer-down
		display: block
		text-align: center

	.footer__logo
		margin-bottom: 10px

	.block-brend
		margin-top: 10px


@media screen and (max-width: 767px)

	//Navigation
	.nav-menu
		display: none

	.toggle-menu
		display: block
	
	.navigation__container
		position: relative

	.nav-menu
		display: none
		position: absolute
		top: 57%
		right: 75px
		min-width: 200px
		padding: 10px 0
		z-index: 20
		background: rgba(0,0,0,0.7)
	
	.nav-menu__item
		display: block
		position: static
		margin-right: 20px
		height: 40px
		margin-left: 0
		&:first-child
			padding-right: 0
			margin-left: 0


	.nav-menu__link
		display: block
		width: 100%
		color: #fff
		padding: 10px 0
		margin-bottom: 10px
		
		
	.nav-menu__item:after
		display: none

	.header-button
		display: none

	h2
		font-size: 35px

	//First section
	
	.slid-dots
		width: 100%
		min-width: 110px


	//Second section
	
	.hogor-title
		min-width: 280px			

	//Five section
	.live-content
		padding: 0 40px

	.content-logo
		margin: 0 auto 20px
	
	.impreza-h2
		font-size: 35px
	//Footer
	
	.footer-up-block
		padding-right: 40px
		padding-left: 40px

	.footer__information
		display: block

	.information__company	
		border-right: none

	.social
		width: 70px
		margin: 10px auto 0



@media screen and (max-width: 480px)
	

	.contact-item
		display: none

	.toggle-menu
			

	.section-block
		width: 100%a

	.section-media
		display: block


	.product
		width: 100%
		margin: 0 auto

	.impreza-button
		font-size: 14px
		padding: 12px 20px	
