.header
	display: flex
	align-items: center
	justify-content: space-between
	padding: 0 40px
	min-height: 117px
	&__logo
		flex: 1 1 30%
		margin-right: 35px
	&__logo-link
		display: block
		max-width: 225px
		margin-top: 15px
		img
			background-position: 50% 50%
			background-size: cover
			width: 100%	
	&__navigation
		display: flex
		flex-direction: column
		align-items: flex-end
		justify-content: flex-end
		flex: 1 1 70%
	&__client
		display: flex
		align-items: center
		justify-content: space-between
		height: 30px
	&__search
		display: flex
		flex-direction: column
		align-items: center
		position: relative
		margin-right: 30px	
	&__search-input
		color: $blue_white
		font-size: 14px
		font-family: inherit
		width: 270px
		height: 29px
		background: $clor_bg
		padding: 5px 25px 5px 16px
		opacity: 0
		transition: opacity 0.3s
	&__search-icon
		position: absolute
		top: 50%
		right: 5px
		transform: translate(0, -50%)
		.icon-search
			width: 16px
			height: 19px
			cursor: pointer
			transition: 0.3s
			fill: #56849d
			&:hover
				fill: #ee9f32
	&__login
		font-size: 14px
		color: #56849d
		background: inherit
		&:hover
			color: #2c5b72
	&__length
		position: relative
		background: inherit
		border: none
		cursor: pointer
		font-size: 14px
		appearance: none
		width: 40px
		top: 0px
		margin-left: 15px
		a
			padding: 5px 15px 5px 10px
			color: #56849d
			font-weight: 400
			transition: color 0.3s
			&:hover
				color: $orange
		&:hover
			&:after
				border-color: $orange transparent transparent transparent
		&:after
			content: ''
			width: 0
			height: 0
			border: 5px solid transparent
			border-color: $blue_light transparent transparent transparent
			position: absolute
			top: 7px
			right: 0
			transition: border-color 0.3s
		ul
			position: absolute
			top: 15px
			background-color: $color_white_blue
			opacity: 0
			transition: opacity 0.3s
			&.length-active
				border-top: 1px dotted $blue
				padding-top: 2px
				opacity: 1

	&__menu
		display: flex
		align-items: center
		justify-content: flex-end
		width: 100%
		margin-bottom: 5px
		margin-top: 20px
		&__item
			margin-left: 20px
		&__link
			color: #56849d
			font-size: 14px
			font-weight: 600
			text-transform: uppercase
			transition: color 0.3s
			letter-spacing: 1px
			&:hover
				color: $orange
.search-active
	opacity: 1

.toggle-menu
	display: none
	width: 35px
	height: 27px
	cursor: pointer
	background: none

.toggle
	display: block
	content: ''
	width: 100%
	height: 5px
	background: $blue
	border-radius: 4px
	margin-bottom: 4px
	&:last-child
		margin-bottom: 0

.header-mobile
	display: none
	margin: 15px 25px 20px 20px	
	.header-mobile-logo
		width: 155px
		height: 55px
		.icon-logo_mobile_menu
			width: 100%
			height: 100%
	.header-mobile-menu-close
		position: absolute
		top: 45px
		right: 25px
		font-size: 25px
		cursor: pointer
		.icon-close
			fill: #fff
