@media screen and (max-width: 1023px)
	
	//body
	.pagewrap
		width: 100%

	.title-step
		display: none
		position: absolute
		top: 100px
		left: 115px
		width: 165px
		z-index: 3
		.is-active &
			display: block
		
		.link-menu
			align-items: flex-start
			flex-direction: column
			background-color: $color_white_blue
			margin-top: 5px
			padding: 10px
			.home
				padding-bottom: 5px
				border-bottom: none
				&:hover
					border-bottom: none
			.dots
				display: none
		
	.dots-menu-close
		display: block

		.icon-close
			width: 16px
			height: 16px
			fill: $blue_white
			cursor: pointer
			z-index: 4
			margin: 0

	.toggle__block
		display: block


	//
	
	.header__navigation
		display: none

	.toggle-menu
		display: block	
	
	//_contact
	.contact__title
		position: relative

		
	

	//_promo
	.promo__title__step
		display: none

	.promo__toggle__btn
		display: block

	//_news
	
	.news__title
		.bread-crams
			.title-step
				top: 83px
				left: 0
	
	.news__container
		padding: 15px 65px 0
	
	.news__box
		.position
			flex: 1 1 262px
			img
				height: 70%
		.news__block__second
			flex: 1 1 262px
			img
				height: 70%
			span
				position: static
				padding-top: 8px
		.news__block__six
			img
				height: 70%
			span
				position: static
				padding-top: 8px			
		.news__block__eight
			flex: 1 1 262px
			img
				height: 70%
			span
				position: static
				padding-top: 8px	
		.news__block__nine
			flex: 1 1 262px
			min-height: 430px
			.news__block
				img
					display: none
		.news__block__eleven
			flex: 1 1 262px
			max-height: 500px
			img
				height: 70%
			span
				position: static
				padding-top: 8px	

	.gradient
		display: none		