@media screen and (max-width: 1023px)
	
	//body
	.pagewrap
		width: 100%

	.title-step
		display: none
		position: absolute
		top: 100px
		left: 115px
		width: 165px
		z-index: 3
		.is-active &
			display: block
		
		.link-menu
			align-items: flex-start
			flex-direction: column
			background-color: $color_white_blue
			margin-top: 5px
			padding: 10px
			.home
				padding-bottom: 5px
				border-bottom: none
				&:hover
					border-bottom: none
			.dots
				display: none
		
	.dots-menu-close
		display: block

		.icon-close
			width: 16px
			height: 16px
			fill: $blue_white
			cursor: pointer
			z-index: 4
			margin: 0

	.toggle__block
		display: block


	//
	
	.header__navigation
		display: none

	.toggle-menu
		display: block	
	
	//_contact
	.contact__title
		position: relative

		
	

	//_promo
	.promo__title__step
		display: none

	.promo__toggle__btn
		display: block

	//_news
	
	.news__title
		.bread-crams
			.title-step
				top: 83px
				left: 0

	.news__container
		padding: 15px 90px 0
	
	.news__row__first

		.news__left__block
			flex: 1 1 33.3%

		.news__center__block
			flex: 1 1 33.3%

		.news__right__block
			flex: 1 1 33.3%

	.news__row__second	

		.news__block
			flex: 1 1 33.3%
			&:last-child
				display: none
			&:nth-child(3)
				margin-right: 0

	.news__row__third
		
		.news__left__block
			display: flex
			justify-content: space-between
			flex: 69.6%

			.news__block
				flex: 1 1 33.3%
				&:first-child
					display: block
					margin-right: 20px
					span
						position: inherit
						margin-top: 58px
					img
						height: auto

		.news__right__block
			flex: 1 1 33.3%
			
			.news__block
				img
					display: none

	.news__row__four
	
		.news__left__block
			flex: 1 1 33.3%
				

		.news__center__block
			flex: 1 1 33.3%

		.news__right__block
			flex: 1 1 33.3%					