@media screen and (max-width: 767px)
	
	//News
	// .news__container
	// 	padding: 15px 15px 0

	.position
		min-height: 370px
		img
			height: 80%
		span
			font-size: 14px		
	.news__block__second
		min-height: 370px
		img
			height: 70%
		span
			position: static
			padding-top: 8px
			font-size: 14px	
	.news__block__eight
		min-height: 370px
		span
			font-size: 14px
	.news__block__nine
		flex: 1 1 262px
		.news__block
			height: 90px
			span
				font-size: 14px
	.news__block__eleven
		min-height: 370px
		span
			font-size: 14px		