---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
<div class="container">
    <!-- Start header -->
	<header class="header">
		<div class="header-contact">
			<div class="contact-phone">
				<img src="./img/phone.png" alt="Phone">
				<a class="contact-phone__link" href="#">
					2909 0000
				</a>
			</div>
			<div class="contact-item">
				<a class="contact-item__link" href="#">
					Ofertas
				</a>
				<a class="contact-item__link" href="#">
					Contactanos
				</a>
				<a class="contact-item__link" href="#">
					Rectangle
				</a>
			</div>
        </div>
	</header>
    <!-- End header -->
</div>
    <!-- Start navigation site --> 
    <nav class="navigation js-navigation">
        <div class="navigation__container container">
            <div class="nav-logo">
                <a href="#">
                    <img src="./img/logo-mc.png" alt="logo">
                </a>
            </div>
            <button class="toggle-menu">
                <span class="toggle"></span>
                <span class="toggle"></span>
                <span class="toggle"></span>
            </button>
            <ul class="nav-menu">
                <li class="nav-menu__item">
                    <a href="#" class="nav-menu__link">
                        Productos
                    </a>
                    <!-- <img src="./icons/blue.png" alt="arrow"> -->
                </li>
                <li class="nav-menu__item">
                    <a href="#" class="nav-menu__link">
                        Deportes
                    </a>
                </li>
                <li class="nav-menu__item">
                    <a href="#" class="nav-menu__link">
                        Programación
                    </a>
                </li>
                <li class="nav-menu__item">
                    <a href="#" class="nav-menu__link">
                        Atención al Cliente
                    </a>
                </li>
                <li class="nav-menu__item">
                    <a href="#" class="nav-menu__link">
                        Mi MC
                    </a>
                </li>
            </ul>
            <button class="header-button" type="submit">
                CONTRATÁ MONTECABLE
            </button>
        </div>
    </nav>

    <!-- End navigation site -->
<div class="container">
    <!-- Start slider -->
	<section class="box-slider">
        <div class="sliders">
            <div class="slider">
        		<div class="slider__banners">
        			<div class="banners__promo">
        				<div class="promo-imgthird">
        					<span>
                                <sup>$</sup>990
                            </span>
        				</div>	
        				<div class="promo-imgfirst">
        					<span>
                                PROMO ESTRELLA
                            </span>
        				</div>
        				<div class="promo-imgsecond">
        					<div class="img2-info">
        						<span class="info-meses" >
                                    12 MESES
                                </span>
        						<span class="info-persent" >
                                    25% DTO.
                                </span>
        					</div>
        					<div class="center-inf" >
                                <span>
                                    CON DÉBITO DE TARJETA DE CRÉDITO
                                </span>
                            </div>
                            <div class="right-inf">
                                <span>
                                    <img src="./img/bbva.png" alt="bbva">
                                </span>
                            </div>
        				</div>
                        <div class="list-info">
            				<span class="prise">75 señales</span>
            				<span class="prise">+ PACK HD</span>
            				<span class="prise">+ FOX PREMIUM</span>
            				<span class="prise">+ FOX HD PACK</span>
            				<button class="butpromo" type="submit">
                                VER PROMO
                            </button>
                        </div>
        			</div>
        			<div class="slider-menu">
        				<ul>
        					<li class="slider-menu__item">
        						<a href="#" class="slider-menu__link">
                                    Ver Ofertas
                                </a>
        					</li>
        					<li class="slider-menu__item">
        						<a href="#" class="slider-menu__link">
        							Ver Planes
                                </a>
        					</li>
        					<li class="slider-menu__item">
        						<a href="#" class="slider-menu__link">
        							Activar MCGoLive
                                </a>
        					</li>
        					<li class="slider-menu__item">
        						<a href="#" class="slider-menu__link">
        							Centro de Soluciones
                                </a>
        					</li>
        					<li class="slider-menu__item">
        						<a href="#" class="slider-menu__link">
        							Rectangle 2 Copy
                                </a>
        					</li>
        				</ul>
        			</div>
        		</div>
            </div>
            <div class="slider">
                <div class="slider__banners">
                    <div class="banners__promo">
                        <div class="promo-imgthird">
                            <p>
                                <sup>$</sup>990
                            </p>
                        </div>  
                        <div class="promo-imgfirst">
                            <span>
                                PROMO ESTRELLA
                            </span>
                        </div>
                        <div class="promo-imgsecond">
                            <div class="img2-info">
                                <span class="info-meses" >
                                    12 MESES
                                </span>
                                <span class="info-persent" >
                                    25% DTO.
                                </span>
                            </div>
                            <div class="center-inf" >
                                <span>
                                    CON DÉBITO DE TARJETA DE CRÉDITO
                                </span>
                            </div>
                            <div class="right-inf">
                                <span>
                                    BBVA
                                </span>
                            </div>
                        </div>
                        <div class="list-info">
                            <span class="prise">75 señales</span>
                            <span class="prise">+ PACK HD</span>
                            <span class="prise">+ FOX PREMIUM</span>
                            <span class="prise">+ FOX HD PACK</span>
                            <button class="butpromo" type="submit">
                                VER PROMO
                            </button>
                        </div>
                    </div>
                    <div class="slider-menu">
                        <ul>
                            <li class="slider-menu__item">
                                <a href="#" class="slider-menu__link">
                                    Ver Ofertas
                                </a>
                            </li>
                            <li class="slider-menu__item">
                                <a href="#" class="slider-menu__link">
                                    Ver Planes
                                </a>
                            </li>
                            <li class="slider-menu__item">
                                <a href="#" class="slider-menu__link">
                                    Activar MCGoLive
                                </a>
                            </li>
                            <li class="slider-menu__item">
                                <a href="#" class="slider-menu__link">
                                    Centro de Soluciones
                                </a>
                            </li>
                            <li class="slider-menu__item">
                                <a href="#" class="slider-menu__link">
                                    Rectangle 2 Copy
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>    
            <div class="slider">
                <div class="slider__banners">
                    <div class="banners__promo">
                        <div class="promo-imgthird">
                            <span>
                                <sup>$</sup>990
                            </span>
                        </div>  
                        <div class="promo-imgfirst">
                            <span>
                                PROMO ESTRELLA
                            </span>
                        </div>
                        <div class="promo-imgsecond">
                            <div class="img2-info">
                                <span class="info-meses" >
                                    12 MESES
                                </span>
                                <span class="info-persent" >
                                    25% DTO.
                                </span>
                            </div>
                            <div class="center-inf" >
                                <span>
                                    CON DÉBITO DE TARJETA DE CRÉDITO
                                </span>
                            </div>
                            <div class="right-inf">
                                <span>
                                    BBVA
                                </span>
                            </div>
                        </div>
                        <div class="list-info">
                            <span class="prise">75 señales</span>
                            <span class="prise">+ PACK HD</span>
                            <span class="prise">+ FOX PREMIUM</span>
                            <span class="prise">+ FOX HD PACK</span>
                            <button class="butpromo" type="submit">
                                VER PROMO
                            </button>
                        </div>
                    </div>
                    <div class="slider-menu">
                        <ul>
                            <li class="slider-menu__item">
                                <a href="#" class="slider-menu__link">
                                    Ver Ofertas
                                </a>
                            </li>
                            <li class="slider-menu__item">
                                <a href="#" class="slider-menu__link">
                                    Ver Planes
                                </a>
                            </li>
                            <li class="slider-menu__item">
                                <a href="#" class="slider-menu__link">
                                    Activar MCGoLive
                                </a>
                            </li>
                            <li class="slider-menu__item">
                                <a href="#" class="slider-menu__link">
                                    Centro de Soluciones
                                </a>
                            </li>
                            <li class="slider-menu__item">
                                <a href="#" class="slider-menu__link">
                                    Rectangle 2 Copy
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>     
        </div>
        <div class="arrow__slick">
            <button class="prev" type="button"></button>
            <button class="next" type="button"></button>
        </div>
        <div class="buttwidth">
            <div class="button__slider">
                <div>
                    <button class="slick-dots" type="button">
                        Promo Estrella
                    </button>
                </div>
                <div>
                    <button class="slick-dots" type="button">
                        Promo Fútbol
                    </button>
                </div>
                <div>
                    <button class="slick-dots" type="button">
                        MCGoLive
                    </button>
                </div>
            </div>
        </div>
        <div class="position__chat">
            <div class="chat__virtual">
                <a href="#">
                    <img src="./img/chatvirtual.svg" alt="">
                </a>
            </div>
        </div>
    </section>
    <!-- End slider -->

    <!-- Start first block -->

    <section class="first-section">
        <h2>La mejor opción de entretenimiento</h2>
        <div class="section-block">
            <div class="section-media">
                <div class="product">
                    <img class="product__pictures" src="../img/svgo/program.svg" alt="program">
                    <span class="picture__about">
                        Programación adaptada a ti
                    </span>
                </div>
                <div class="product">
                    <img class="product__pictures" src="../img/svgo/mcgolive.svg" alt="mcgolive">
                    <span class="picture__about">
                        El entretenimiento va con vos
                    </span>
                </div>
            </div>
            <div class="section-media">
                <div class="product">
                    <img class="product__pictures" src="../img/svgo/atencion.svg" alt="atencion">
                    <span class="picture__about">
                        Atención personalizada
                    </span>
                </div>
                <div class="product">
                    <img class="product__pictures" src="../img/svgo/beneficios.svg" alt="atencion">
                    <span class="picture__about">
                        Beneficios exclusivos
                    </span>
                </div>
            </div>
        </div>    
    </section>
    <!-- End first block -->
    
    <!-- Start second block -->
    <section class="second-section">
        <h2>Elegí el plan que más se adapta a vos</h2>
        <div class="block-hogor">
            <div class="hogor-title">
                <div class="inside-block">
                    <div class="title-column">
                        <img src="./img/sm_10.png" alt="">
                        <span class="hogor__title">HOGAR</span>
                    </div>
                    <div class="column-price">
                        <span class="option__stick">75 señales</span>
                        <img class="sd" src="../img/sd-badge_3.png" alt="hd">
                    </div>
                    <span class="information">50 señales de audio</span>
                    <span class="information">2 decodificadores</span>
                    <div class="column-price">
                        <img src="./img/sm_11.png" alt="">
                        <span class="option__stick">+ Plataformas Play</span>
                    </div>
                    <span class="information">+ Plataformas Play</span>
                </div>
                <button type="submit" class="hogor-button1">
                    VER MÁS PLAN HOGAR
                </button>
            </div>    
            <div class="hogor-title">
                <div class="inside-block">
                    <div class="title-column">
                        <img src="./img/sm_6.png" alt="hogor">
                        <span class="hogor__title">HOGAR+</span>
                    </div>
                    <div class="column-price">
                        <span class="option__stick">75 señales</span>
                        <img class="sd" src="../img/sd-badge_3.png" alt="hd">
                    </div>
                    <span class="information">50 señales de audio</span>
                    <span class="information">2 decodificadores</span>
                    <div class="column-price">
                        <img src="./img/sm_11.png" alt="">
                        <span class="option__stick">+ Plataformas Play</span>
                    </div>
                    <div class="column-price">
                        <img src="./img/futbol-uy-hd-badge.png" alt="">
                    </div>
                    <span class="information">+ Plataformas Play</span>
                </div> 
                <button type="submit" class="hogor-button2">
                    VER MÁS PLAN HOGAR+
                </button>
            </div>
            <div class="hogor-title">
                <div class="inside-block">
                    <div class="title-column">
                        <img src="./img/sm_4.png" alt="hogor">
                        <span class="hogor__title">PLUS</span>
                    </div>
                    <div class="column-price">
                        <span class="option__stick">47 señales</span>
                        <img class="sd" src="../img/hd-badge_3.png" alt="">
                    </div>
                    <div class="column-price">
                        <span class="option__stick">78 señales</span>
                        <img class="sd" src="../img/sd-badge_3.png" alt="sd">
                    </div>
                    <span class="information">50 señales de audio</span>
                    <span class="information">2 decodificadores</span>
                    <div class="column-price">
                        <img src="./img/sm_11.png" alt="">
                        <span class="option__stick">+ Plataformas Play</span>
                    </div>
                    <div class="column-price">
                        <img src="./img/futbol-uy-hd-badge.png" alt="">
                    </div>
                    <span class="information">+ Plataformas Play</span>
                </div>    
                <button type="submit" class="hogor-button3">
                    VER MÁS PLAN PLUS
                </button>
            </div>
        </div>
        <div class="linkin">
            <a href="#" class="link-ver">
                VER TODOS LOS PLANES
            </a>
        </div>    
    </section>
    <!-- Start second block -->

    <!-- Start third block -->
    <section class="main-third-block">
        <h2>Sumale el paquete premium que prefieras</h2>
        <div class="block-promos">
            <div class="promos__title">
                <div class="titleblock">
                    <h4>HBO MAX</h4>
                </div>
                <div class="titleimg"></div>
                <button type="submit" class="ver-button1">
                    VER MÁS HBO MAX
                </button>
            </div>
            <div class="promos__title">
                <div class="titleblock">
                    <h4>+LIVING AMERICA</h4>
                </div>
                <div class="titleimg"></div>
                <button type="submit" class="ver-button2">
                    VER MÁS +LIVING AMERICA
                </button>
            </div>
            <div class="promos__title">
                <div class="titleblock">
                    <h4>PACK MÚSICA</h4>
                </div>
                <div class="titleimg"></div>
                <button type="submit" class="ver-button3">
                    VER MÁS PACK MÚSICA
                </button>
            </div>
        </div>
        <div class="linkin">
            <a href="#" class="link-ver">
                VER TODOS LOS PAQUETES
            </a>
           </div> 
    </section>
    <!-- End third block -->

    <!-- Start four block -->
    <section class="section-football">
        <div class="football-content">
            <h2>Todo el fútbol uruguayo</h2>
            <p>
                Montecable te ofrece todo lo que querés ver del fútbol uruguayo y lo mejor del deporte nacional e internacional.  
            </p>
            <div class="linkin">
                <a href="#" class="link-ver">
                    VER MÁS FÚTBOL MC
                </a>
            </div>
        </div>
        <div class="football-foto"></div>
    </section>
    <!-- End four block -->

    <!-- Start five block -->
    <section class="main-five-block">
        <div class="go_live">
            <div class="live-bg-color"></div>
            <div class="live-content">
                <div class="content-logo"></div>
                <div class="content-information">
                    <p class="info-television">
                        Mirá televisión en vivo desde tu Smartphone o Tablet y duplicá en la pantalla que tengas cerca con MCGoLive.
                    </p>
                    <div class="stor_shop">
                        <img src="./img/play-store.png" alt="play-store">
                        <img src="./img/appstore.png" alt="app-store">
                    </div>
                    <div class="linkin">
                        <a href="#" class="info-link">
                            QUIERO REGISTRARME
                        </a>
                    </div>
                </div>    
            </div> 
        </div>
        <div class="impreza">
            <h6 class="impreza-h2">
                Empezá a disfrutar de Montecable hoy mismo
            </h6>
            <button class="impreza-button" type="submit">
                CONTRATÁ MONTECABLE
            </button>
        </div>
    </section>
    <!-- End five block -->

    <!-- Start footer block -->
    <section class="footer">
        <div class="footer-up-block">
            <div class="foot-left">
                <div class="block-item">
                    <h3>PRODUCTOS</h3>
                    <ul>
                        <li class="item-list">
                            <a href="#" class="item-link">Planes</a>
                        </li>
                        <li class="item-list">
                            <a href="#" class="item-link">Paquetes Premium</a>
                        </li>
                        <li class="item-list">
                            <a href="#" class="item-link">MC Prepago</a>
                        </li>
                        <li class="item-list">
                            <a href="#" class="item-link">MCGoLive</a>
                        </li>
                        <li class="item-list">
                            <a href="#" class="item-link">Plataformas Play</a>
                        </li>
                        <li class="item-list">
                            <a href="#" class="item-link">Deportes</a>
                        </li>
                        <li class="item-list">
                            <a href="#" class="item-link">Fútbol</a>
                        </li>
                    </ul>
                </div>
                <div class="block-center">
                    <div class="block-item">
                        <h3>CONTRATÁ MC</h3>
                        <ul>
                            <li class="item-list">
                                <a href="#" class="item-link">Ver Ofertas</a>
                            </li>
                            <li class="item-list">
                                <a href="#" class="item-link">Ver Planes</a>
                            </li>
                        </ul>
                    </div>
                    <div class="block-item">
                        <h3>PROGRAMACIÓN</h3>
                        <ul>
                            <li class="item-list">
                                <a href="#" class="item-link">Grilla</a>
                            </li>
                            <li class="item-list">
                                <a href="#" class="item-link">Buscador de Programación</a>
                            </li>
                            <li class="item-list">
                                <a href="#" class="item-link">Grilla numerada</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="foot-right">    
                <div class="block-item">
                    <h3>ATENCIÓN AL CLIENTE</h3>
                    <ul>
                        <li class="item-list">
                            <a href="#" class="item-link">Centro de ayuda</a>
                        </li>
                        <li class="item-list">
                            <a href="#" class="item-link">Asistencia Técnica - Resuélvelo</a>
                        </li>
                        <li class="item-list">
                            <a href="#" class="item-link">Cómo contrato Montecable</a>
                        </li>
                        <li class="item-list">
                            <a href="#" class="item-link">Cortes Zonales</a>
                        </li>
                        <li class="item-list">
                            <a href="#" class="item-link">Preguntas Frecuentes</a>
                        </li>
                        <li class="item-list">
                            <a href="#" class="item-link">Contactanos</a>
                        </li>
                    </ul>
                </div>
                <div class="block-item">
                    <h3>MI MC</h3>
                    <ul>
                        <li class="item-list">
                            <a href="#" class="item-link">Ingresar</a>
                        </li>
                        <li class="item-list">
                            <a href="#" class="item-link">Panel</a>
                        </li>
                        <li class="item-list">
                            <a href="#" class="item-link">Facturación</a>
                        </li>
                        <li class="item-list">
                            <a href="#" class="item-link">Mis Productos</a>
                        </li>
                        <li class="item-list">
                            <a href="#" class="item-link">Mi Perfil</a>
                        </li>
                        <li class="item-list">
                            <a href="#" class="item-link">Servicios y Beneficios</a>
                        </li>
                    </ul>
                </div>
            </div> 
        </div>
        <div class="footer-down">
            <div class="footer__logo">
                <a href="#">
                    <img src="./img/montecable-footer.png" alt="logo">
                </a>
            </div>
            <div class="footer__information">
                <div class="information__company">
                    ©2018
                </div>
                <div class="information__company">
                    Montecable
                </div>
                <div class="information__company">
                    18 de Julio 1216
                </div>
                <div class="information__company">
                    +598 2 909 0000
                </div>
                <div class="information__company end">
                    Montevideo, Uruguay
                </div>
                <div class="social">
                    <a href="#" class="facebook soc">
                        <img src="./img/facebook-footer.png" alt="facebook">
                    </a>
                    <a href="#" class="instagram soc">
                        <img src="./img/instagram-footer.png" alt="instagram">
                    </a>
                    <a href="#" class="youtub soc">
                        <img src="./img/youtube-footer.png" alt="youtub">
                    </a>
                </div>
            </div>
            <div class="block-brend">
                <a href="#">
                    <img src="./img/by-iugo.png" alt="brend-logo">
                </a>    
            </div>
        </div>
    </section>
<!-- End footer block -->
</div>

{% endblock %}
